<div class="container smart_container">
  <div class="page_block smart_group_block">
    <div class="smart_group_search ">
      <input [(ngModel)]="menuGroupSearch" class="form-control input-sm smart_search_box" type="text" placeholder="Search">
    </div>
    <div id="menu-group-list" class="smart_group_list">
      <div (click)="selectMenuGroupTile($event, mnGrp)" [ngClass]="!utils.isEmptyObject(selectedMenuGroup) && selectedMenuGroup.hasOwnProperty('_id') && !utils.isNullOrEmpty(selectedMenuGroup['_id']) && selectedMenuGroup['_id'] === mnGrp['_id'] ? 'group_list_single selected' : 'group_list_single'" *ngFor="let mnGrp of (menuGroups | filterByText: 'menuGroupTitle': menuGroupSearch); let i = index; trackBy: trackByIndex">
        <div *ngIf="checkMenuGroupArt(mnGrp)" class="group-art">
          <img class="group_list_art" [src]="mnGrp['type'] !== 'menu'? mnGrp['art'] : mnGrp['background'] | safe">
        </div>
        <div [title]="mnGrp['type'] !== 'menu'? 'name': 'title'" class="group_list_title">{{mnGrp!.menuGroupTitle}}</div>
        <div class="group-notify-icons">
          <span *ngIf="mnGrp['isNotification']" class='step smart noteicon smarticon-groups' aria-hidden="true">
            <i class='icon ion-android-notifications-none'></i>
          </span>
          <span *ngIf="mnGrp['isSmart']" class="step smart smarticon smarticon-groups">
            <i class="icon ion-lightbulb"></i>
          </span>
          <span *ngIf="mnGrp['isRole']" class="step smart smarticon smarticon-groups">
            <i class="icon ion-android-person"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="smart_page_form">
    <div class="page_block smart_page_head ">
      <select [ngModel]="selectedApp " (ngModelChange)="appChange($event)" class="form-control input-sm apps_list">
        <option *ngFor="let app of appList; let i= index " [value]="app?._id ">{{app?.name}}</option>
      </select>
      <div class="smart_form_btns">
        <button (click)="saveSmart($event)" class="ili-btn save_smart">
          Save
        </button>
        <button class="ili-btn delete_smart ">
          Delete
        </button>
      </div>
    </div>
    <div class="page_block smart_content_block">
      <div style="font-size: 11px; padding: 10px 10px;">
        Notifications apply only to Tiles or Groups that are already part of an application.
      </div>
      <div class="profile_container">
        <div class="profile_if_not_answered checkbox">
          <label style="line-height: 1.95;">
            <input value="true" [(ngModel)]="profileObj['ifNotAnswered']" type="checkbox"> Show in app if not answered</label>
        </div>
        <p style="margin-left: 10px">
          Profile:
        </p>
        <table style="margin-left: 20px;">
          <tr *ngIf="profileObj.hasOwnProperty('firstName')" style="height:30px">
            <td>
              <span class="profile_label">First Name</span>
            </td>
            <td>
              <input type="text" [(ngModel)]="profileObj['firstName']" class="form-control input-sm profile_input" value="" placeholder="First Name">
            </td>
          </tr>

          <tr *ngIf="profileObj.hasOwnProperty('lastName')" style="height:30px">
            <td>
              <span class="profile_label">Last Name</span>
            </td>

            <td>
              <input type="text" [(ngModel)]="profileObj['lastName']" class="form-control input-sm profile_input" value="" placeholder="Last Name">
            </td>
          </tr>

          <tr *ngIf="profileObj.hasOwnProperty('gender')" style="height:30px">
            <td>
              <span class="profile_label">Gender</span>
            </td>
            <td>
              <div class="profile_gender">
                <label class="radio-inline label_gender">
                  <input type="radio" [(ngModel)]="profileObj['gender']" value="male" name="sex"> Male
                </label>
                <label class="radio-inline label_gender">
                  <input type="radio" [(ngModel)]="profileObj['gender']" value="female" name="sex"> Female
                </label>
                <label class="radio-inline label_gender">
                  <input type="radio" [(ngModel)]="profileObj['gender']" value="both" name="sex"> All
                </label>
              </div>
            </td>
          </tr>

          <tr *ngIf="profileObj.hasOwnProperty('birthday')" style="height:30px">
            <td>
              <span class="profile_label">Birth Date</span>
            </td>
            <td>
              <select [(ngModel)]="profileObj['birthmonth']" class="form-control input-sm profile_month">
                <option [value]="''">Select Month</option>
                <option *ngFor="let mnName of monthNames; let i = index" [value]="i + 1">{{mnName}}</option>
              </select>
              <select [(ngModel)]="profileObj['birthday']" class="form-control input-sm profile_day">
                <option [value]="''">Select Date</option>
                <option *ngFor="let dy of monthDays; let i = index" [value]="dy">{{dy}}</option>
              </select>
            </td>
          </tr>

          <tr *ngIf="profileObj.hasOwnProperty('birthday')" style="height:30px">
            <td>
              <span class="profile_label">Birth Year</span>
            </td>
            <td>
              <select [(ngModel)]="profileObj['birthyearoption']" class="form-control input-sm year_option">
                <option [value]="''">Select</option>
                <option [value]="1">Year</option>
                <option [value]="2">Born before</option>
                <option [value]="3">Born after</option>
                <option [value]="4">Born Between</option>
              </select>
              <select [(ngModel)]="profileObj['birthyear']" class="form-control input-sm profile_year year">
                <option [value]="''">Select Year</option>
                <option *ngFor="let yr of yearList; let i= index" [value]="yr">{{yr}}</option>
              </select>
              <div *ngIf="!utils.isNullOrEmpty(profileObj['birthyearoption']) && profileObj['birthyearoption'] === '4'" style="float:left;">
                <span style="float: left; margin: 4px 4px 0px 11px;"> and </span>
                <select [(ngModel)]="profileObj['birthyearuntil']" class="form-control input-sm profile_year year-until">
                  <option [value]="''">Select Year</option>
                  <option *ngFor="let yr of yearList; let i= index" [value]="yr">{{yr}}</option>
                </select>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="squares_main_text">
        <label style="float: left;margin-left: 9px;">Questionnaires : </label>
      </div>
      <div [style.height]="squaresPanelHgt + 'px'" class="squares_panel" id="main-squares-area">
        <div *ngFor="let sqr of tileSquares; let i = index; trackBy: trackByIndex" class="square_block">

          <div class="ques_app_not_ans">
            <div class="sur_main_ques">
              <label style="margin-bottom: 0px;">{{ sqr!.questionText }}</label>
            </div>
            <div class="square_if_not_answered checkbox">
              <label>
                <input style="margin-top: 2px" value="true" [(ngModel)]="sqr['ifNotAnswered']" type="checkbox">Show in app if not answered</label>
            </div>
          </div>

          <div class="form-group ques_opt_group">
            <div *ngFor="let ques of sqr['questions']; let idx = index; trackBy: trackByIndex" style="padding-left: 0px;" class="checkbox">
              <label>
                <input style="margin-top: 1px;" value="true" [(ngModel)]="ques['assigned']" type="checkbox"> {{ques!.text}}
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="page_block smart_tiles_list">

    <div class="tiles_list_search">
      <input [(ngModel)]="tileSort[ 'tileSearchText']" class="form-control input-sm tile_search_box" type="text" placeholder="Search Tiles">
      <select [(ngModel)]="selectedCategory" class="form-control input-sm tile_category_filter ">
        <option [value]="-1">All Categories</option>
        <option *ngFor="let tileCat of tileCategories; let i = index" [value]="tileCat?._id">{{tileCat?.name}}</option>
      </select>
    </div>
    <div class="tiles_sort">
      <label class="txt_arrange ">Sort by: </label>
      <select [(ngModel)]="tileSort[ 'selectedOpt']" class="form-control input-sm sort_box" placeholder="Search ">
        <option [value]="'date'">Date</option>
        <option [value]="'title'">Title</option>
        <option [value]="'category'">Category</option>
        <option [value]="'author'">Author</option>
      </select>
      <div *ngIf="tileSort['selectedOpt'] === 'date'" class="do_sort">
        <div *ngIf="tileSort['isAsc']" (click)="doSort(false)">
          Oldest on top
          <img class="sort_image" src='/img/sort_up.png' />
        </div>
        <div *ngIf="!tileSort[ 'isAsc']" (click)="doSort(true)">
          Newest on top
          <img class="sort_image" src="/img/sort_down.png" />
        </div>
      </div>
      <div *ngIf="tileSort['selectedOpt'] !=='date'" class="do_sort">
        <div *ngIf="tileSort['isAsc']" (click)="doSort(false)" class="text_asc">
          A on top
          <img class="sort_image" src="/img/sort_up.png" />
        </div>
        <div *ngIf="!tileSort['isAsc']" (click)="doSort(true)">
          Z on top
          <img class="sort_image" src="/img/sort_down.png" />
        </div>
      </div>

      <div class="tiles_count_main">
        <div class="tile-view-change ">
          <img *ngIf="tileSort['listType']==='list'" (click)="changeTileView('details')" src="/img/details.png" alt=" " title="Details"
          />
          <img *ngIf="tileSort['listType']==='details'" (click)="changeTileView('list')" src="/img/list.png " alt="" title="List" />
        </div>
        <div class='tiles_list_count'>
        </div>
      </div>
    </div>

    <div id="tiles-list-show" class="tiles_list_panel">
      <div (click)="selectMenuGroupTile($event, tile)" [ngClass]="!utils.isEmptyObject(selectedTile) && selectedTile.hasOwnProperty('_id') && !utils.isNullOrEmpty(selectedTile['_id']) && selectedTile['_id'] === tile['_id'] ? 'tiles_list_single selected' : 'tiles_list_single'"
        *ngFor="let tile of (tileList | filterByText:'title': tileSort['tileSearchText'] | filterByText:'category': selectedCategory | orderBy:tileSort['isAsc']:tileSort['values'][tileSort['selectedOpt']][0]: tileSort['values'][tileSort['selectedOpt']][1]); let i = index; trackBy: trackByTileId">
        <img [ngClass]="tileSort['listType'] === 'list'? 'tile_list_art tile-content-img' : 'tile_list_art tile-details-img'" [src]="tile?.art | safe">
        <div class="tile_list_title tile-content-title">{{tile?.title}}</div>
        <div *ngIf="tile" class="tile_icons">
          <span [title]="tile!.tileApps" [style.display]="tile!.isWgt" class="step weight"></span>
          <span [title]="tile!.tileHealthStatusRules" [style.display]="tile!.isRules" class="step smart smarticon report-rule-tile">
            <i class="icon ion-heart"></i>
          </span>
          <span [title]="tile!.tileProcedure" [style.display]="tile!.isProcedure" class="step smart smarticon smarticon-tile">
            <i class="icon ion-medkit"></i>
          </span>
          <span [title]="tile!.tileSmart" [style.display]="tile!.isSmart" class="step smart smarticon smarticon-tile">
            <i class="icon ion-lightbulb"></i>
          </span>
          <span [title]="tile!.tileNotifications" [style.display]="tile!.isNotification" class="step smart noteicon smarticon-tile"
            style="display: block;" aria-hidden="true">
            <i class="icon ion-android-notifications-none"></i>
          </span>
          <span [title]="tile!.tileApps" [style.display]="tile!.isRole" class="step smart smarticon smarticon-tile">
            <i class="icon ion-android-person"></i>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet" href="/css/ti_icons.css">