/* Smart Container*/

.smart_container {
  height: 920px;
  position: relative;
}

/* Menu Smart group */

.smart_group_block {
  float: left;
  width: 170px;
  height: 915px;
  position: relative;
  left: 1px;
  padding-top: 5px;
}

.smart_group_search {
  position: relative;
  text-align: center;
  height: 37px;
  float: left;
  width: 100%;
}

.smart_search_box {
  margin: 0 auto;
  width: 94%;
}

/* smart main area content */

.smart_page_form {
  float: left;
  width: 742px;
  margin-left: 2px;
}

/* smart head content */

.smart_page_head {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 0px;
  height: 35px;
  float: left;
  width: 100%;
}

.apps_list {
  margin-left: 10px;
  width: 231px;
  float: left;
}

.smart_form_btns {
  float: right;
  margin-right: 20px;
}

.save_smart {
  border-bottom-color: #1E90FF;
  border-bottom-width: 3px;
  float: left;
}

.delete_smart {
  border-bottom-color: #FF0000;
  border-bottom-width: 3px;
  float: left;
  margin-left: 11px;
}

.smart_content_block {
  float: left;
  width: 100%;
  padding-top: 1px;
  margin-top: 1px;
  height: 879px;
}

/* Smart Tiles */

.smart_tiles_list {
  float: left;
  width: 285px;
  height: 915px;
  margin-left: 1px;
  margin-top: 0px;
}

.tiles_list_search {
  position: relative;
  top: 5px;
  padding-left: 9px;
  text-align: center;
  float: left;
  width: 100%;
}

.tile_search_box {
  width: 265px;
  margin: 0 auto;
  margin-bottom: 6px;
}

.tile_category_filter {
  width: 265px;
  margin: 0 auto;
}

/* Tiles Sort */

.tiles_sort {
  float: left;
  width: 284px;
  margin-top: 4%;
}

.txt_arrange {
  font-size: 11px;
  float: left;
  margin-top: 4px;
  margin-left: 13px;
}

.sort_box {
  float: left;
  margin-left: 5px;
  width: 87.5px;
}

.do_sort {
  margin-right: 11px;
  margin-top: 4px;
  font-size: 11px;
  cursor: pointer;
  float: right;
}

.tiles_count_main {
  width: 100%;
  font-size: 12px;
  float: left;
  height: 1.5%;
  margin-top: 3%;
}

.tile-view-change {
  float: left;
  margin-left: 15px;
}

.sort_image {
  margin-left: 5px;
}

.tile-view-change img {
  cursor: pointer;
  padding-right: 2px;
}

.tiles_list_count {
  float: right;
  font-size: 80%;
  padding-right: 7%;
  padding-top: 5px;
}

/* Menu Group List */

.smart_group_list {
  float: left;
  width: 170px;
  height: 872px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 4px;
}

.group_list_single {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  background-color: #FFFFFF;
  text-align: left;
  width: 158px;
  min-height: 48px;
  color: #000000;
  cursor: pointer;
  border: 1px outset #F2F2F2;
}

.group_list_single:hover {
  background-color: #F2F2F2;
}

.group_list_single.selected{
  background-color: #3c3c3c;
  color: #ffffff;
}

.group-art {
  width: 20%;
  float: left;
  text-align: left;
  margin-left: 2px
}

.group_list_art {
  float: left;
  max-width: 30px;
  max-height: 25px;
  margin-top: 3px;
  text-align: center;
}

.group_list_title {
  float: left;
  margin-top: 3px;
  margin-left: 8px;
  width: 98px;
  font-size: 11px;
  text-align: left;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.group-notify-icons {
  width: 100%;
  float: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.smart_tiles_list_panel {
  text-align: left;
  position: relative;
  padding-top: 1px;
  padding-left: 8px;
  height: 795px;
  overflow: hidden;
  margin-top: 110px;
}

/* Tiles */

.tiles_list_single {
  float: left;
  display: table;
  position: relative;
  text-align: left;
  margin-left: 7px;
  margin-bottom: 4px;
  width: 257px;
  min-height: 32px;
  padding-bottom: 2px;
  color: #000000;
  border: 2px outset rgba(255, 255, 255, .5);
  background-color: #FFFFFF;
  border-radius: 0px;
  cursor: pointer;
}

.tiles_list_single:hover {
  background-color: #F2F2F2;
}

.tiles_list_single.selected {
  background-color: #3c3c3c;
  color: #FFFFFF;
}

.tile_list_art {
  max-width: 240px;
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 4px;
  float: left;
}

.tile_list_art.tile-content-img {
  max-width: 30px;
  max-height: 25px;
  margin-top: 3px;
}

.tile_list_art.tile-details-img {
  max-width: 240px;
  max-height: none;
}

.tile_list_title {
  float: left;
  width: 235px;
  margin-top: 2px;
  margin-left: 5px;
  font-size: 11px;
  text-align: justify;
  word-wrap: break-word;
}

.tile_list_title.tile-content-title {
  width: 200px;
}

.notify_tile_list {
  height: 915px;
}

.notify_show_tiles {
  height: 761px
}

/* Tile Icons */

.tile_icons {
  position: relative;
  right: 0;
  bottom: 2px;
  width: 100%;
  float: right;
}

/* Profile Container */

.profile_container {
  float: left;
  width: 100%;
  margin-top: 1px;
}

.profile_if_not_answered {
  float: right;
  margin-right: 25px;
  margin-top: -3px;
}

.square_if_not_answered {
  float: right;
  width: 30%;
  margin-bottom: 0px;
  min-height: 0px;
  margin-top: 0px;
}

.profile_label {
  float: left;
  padding: 4px 40px 0 0;
  font-size: 12px;
}

.profile_input {
  width: 260px;
  float: left;
}

.profile_gender {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 1.42857143;
}

.label_gender {
  font-size: 12px;
}

.label_gender>input[type=radio] {
  margin-top: 2px;
}

.profile_month {
  width: 108px;
  float: left;
}

.profile_day {
  width: 95px;
  float: left;
  margin-left: 5px;
}

.year_option {
  width: 108px;
  float: left;
}

.profile_year {
  width: 95px;
  float: left;
  margin-left: 5px;
}

/* Main Square Area Layout */

.squares_panel {
  text-align: left;
  position: relative;
  padding-top: 1px;
  padding-left: 15px;
  overflow: hidden;
  min-height: 633px;
}

.square_block {
  float: left;
  width: 100%;
}

.sur_main_ques {
  float: left;
  width: 70%;
}

.squares_main_text {
  float: left;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.ques_app_not_ans {
  float: left;
  width: 100%;
}

.ques_opt_group {
  float: left;
  width: 100%;
}