/* Status Rules  Container*/

.status_rules_container {
  height: 920px;
  position: relative;
}

/* Status Rules Head */

.hsr_page_head {
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  left: 1px;
  width: 99.9%;
  float: left;
  margin-top: 1px;
}

.rule_name {
  width: 212px;
  float: left;
  margin-left: 15px;
}

.hsr_box {
  margin-left: 15px;
  width: 190px;
  float: left;
  font-family: 'FontAwesome', Helvetica;
}

.hsr_form_btns {
  float: left;
  margin-top: 1px;
}

.status_new {
  border-bottom-color: #228B22;
  border-bottom-width: 3px;
  float: left;
  margin-right: 4px;
  margin-left: 27px;
}

.status_save {
  border-bottom-color: #1E90FF;
  border-bottom-width: 3px;
  float: left;
  margin-right: 4px;
}

.status_delete {
  border-bottom-color: #FF0000;
  border-bottom-width: 3px;
}

/* Hsr list Panel */

.hsr_search {
  position: relative;
  text-align: center;
  height: 37px;
  float: left;
  width: 100%;
}

.hsr_search_box {
  margin: 0 auto;
  width: 94%;
}

.hsr_list_panel {
  float: left;
  width: 170px;
  height: 916px;
  position: relative;
  left: 1px;
  padding-top: 5px;
  top: 1px;
}

.hsr_group_list {
  float: left;
  width: 100%;
  height: 872px;
  position: relative;
  overflow: hidden;
}

.hsr_main_content_panel {
  float: left;
  width: 742px;
  margin-left: 2px;
  height: 916px;
  margin-top: 1px;
}

.hsr_tiles_panel {
  width: 285px;
  height: 952px;
  margin-left: 1px;
  margin-top: 1px;
  left: 915px;
  float: left;
}

.hsr_main_panel {
  float: left;
  width: 914px;
  height: 916px;
}

.hsr_group_list ul {
  list-style-type: none;
  font-size: 15px;
  margin-left: -28px;
  cursor: pointer;
}

.lbl_hsr_title {
  float: left;
  width: 87%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  margin-top: 3px;
  cursor: pointer;
}

.lbl_hsr_title:hover {
  font-size: 13px;
  text-decoration: underline;
}

.lbl_hsr_title.selected {
  font-size: 14px;
  text-decoration: underline;
  text-decoration-color: #f5deb3;
}

/*Tiles List */

.tiles_list_search {
  position: relative;
  top: 5px;
  padding-left: 9px;
  text-align: center;
  float: left;
  width: 100%;
}

.tile_search_box {
  width: 265px;
  margin: 0 auto;
  margin-bottom: 6px;
}

.tile_category_filter {
  width: 265px;
  margin: 0 auto;
}

/* Tiles Sort */

.tiles_sort {
  float: left;
  width: 284px;
  margin-top: 4%;
}

.txt_arrange {
  font-size: 11px;
  float: left;
  margin-top: 4px;
  margin-left: 13px;
}

.sort_box {
  float: left;
  margin-left: 5px;
  width: 87.5px;
}

.do_sort {
  margin-right: 11px;
  margin-top: 4px;
  font-size: 11px;
  cursor: pointer;
  float: right;
}

.tiles_count_main {
  width: 100%;
  font-size: 12px;
  float: left;
  height: 1.5%;
  margin-top: 3%;
}

.tile-view-change {
  float: left;
  margin-left: 15px;
}

.sort_image {
  margin-left: 5px;
}

.tile-view-change img {
  cursor: pointer;
  padding-right: 2px;
}

.tiles_list_count {
  float: right;
  font-size: 80%;
  padding-right: 7%;
  padding-top: 5px;
}

.tiles_list_panel {
  text-align: left;
  position: relative;
  padding-top: 1px;
  padding-left: 8px;
  height: 821px;
  overflow: hidden;
  margin-top: 57px;
}

/* Tiles */

.tiles_list_single {
  float: left;
  display: table;
  position: relative;
  text-align: left;
  margin-left: 7px;
  margin-bottom: 4px;
  width: 257px;
  min-height: 32px;
  padding-bottom: 2px;
  color: #000000;
  border: 2px outset rgba(255, 255, 255, .5);
  background-color: #FFFFFF;
  border-radius: 0px;
  cursor: pointer;
}

.tiles_list_single:hover {
  background-color: #F2F2F2;
}

.tiles_list_single.selected {
  background-color: #3c3c3c;
  color: #FFFFFF;
}

.tile_list_art {
  max-width: 240px;
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 4px;
  float: left;
}

.tile_list_art.tile-content-img {
  max-width: 30px;
  max-height: 25px;
  margin-top: 3px;
}

.tile_list_art.tile-details-img {
  max-width: 240px;
  max-height: none;
}

.tile_list_title {
  float: left;
  width: 235px;
  margin-top: 2px;
  margin-left: 5px;
  font-size: 11px;
  text-align: justify;
  word-wrap: break-word;
}

.tile_list_title.tile-content-title {
  width: 200px;
}

/* Profile Container */

.profile_container {
  float: left;
  width: 100%;
  margin-top: 1px;
}

.profile_label {
  float: left;
  padding: 4px 40px 0 0;
  font-size: 12px;
}

.profile_input {
  width: 260px;
  float: left;
}

.profile_gender {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 1.42857143;
}

.label_gender {
  font-size: 12px;
}

.label_gender>input[type=radio] {
  margin-top: 2px;
}

.profile_month {
  width: 108px;
  float: left;
}

.profile_day {
  width: 95px;
  float: left;
  margin-left: 5px;
}

.year_option {
  width: 108px;
  float: left;
}

.profile_year {
  width: 95px;
  float: left;
  margin-left: 5px;
}

.main_profile_text {
  margin-left: 10px;
  float: left;
  font-weight: bold;
  width: 50%;
  margin-top: 7px;
}

.square_search_tile {
  float: right;
  width: 211px;
  margin-right: 28px;
  margin-top: 6px;
}

.square_container {
  float: left;
  width: 100%;
  height: 726px;
}

.square-tiles {
  float: left;
  width: 100%;
}

.smart_main_ques {
  font-weight: 200;
  margin-left: 3%;
  width: 97%
}

.squares_main_content {
  float: left;
  width: 100%;
  height: 686px;
}