@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    .previews-container {
        display: none;
    }
    .previews-container>.preview-image {
        display: none;
    }
    .previews-container>.nav-left {
        display: none;
    }
    .previews-container>.nav-right {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) {
    .previews-container {
        align-items: center;
        animation: fadein-semi-visible08 0.8s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;
    }
    .previews-container>.preview-image {
        cursor: pointer;
        margin-left: 2px;
        margin-right: 2px;
        opacity: 0.7;
        height: 50px;
    }
    .previews-container>.preview-image.active {
        opacity: 1;
    }
    .previews-container>.preview-image:hover {
        opacity: 1;
        transition: all .5s ease;
        transition-property: opacity;
    }
    .previews-container .nav, .previews-container>.nav-left, .previews-container>.nav-right {
        color: #919191;
        cursor: pointer;
        transition: all 0.5s;
    }
    .previews-container .nav:hover, .previews-container>.nav-left:hover, .previews-container>.nav-right:hover {
        transform: scale(1.1);
    }
    .previews-container>.nav-left {
        margin-right: 10px;
    }
    .previews-container>.nav-right {
        margin-left: 10px;
    }
}

@keyframes fadein-visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein-semi-visible05 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes fadein-semi-visible08 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

@keyframes fadein-semi-visible09 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

.arrow-preview-image, .empty-arrow-preview-image, .left-arrow-preview-image, .right-arrow-preview-image {
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

.empty-arrow-preview-image {
    background: black;
    opacity: 0;
}

.left-arrow-preview-image {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ3Ny4xNzUgNDc3LjE3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDc3LjE3NSA0NzcuMTc1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij48Zz48cGF0aCBkPSJNMTQ1LjE4OCwyMzguNTc1bDIxNS41LTIxNS41YzUuMy01LjMsNS4zLTEzLjgsMC0xOS4xcy0xMy44LTUuMy0xOS4xLDBsLTIyNS4xLDIyNS4xYy01LjMsNS4zLTUuMywxMy44LDAsMTkuMWwyMjUuMSwyMjUgICBjMi42LDIuNiw2LjEsNCw5LjUsNHM2LjktMS4zLDkuNS00YzUuMy01LjMsNS4zLTEzLjgsMC0xOS4xTDE0NS4xODgsMjM4LjU3NXoiIGZpbGw9IiNGRkZGRkYiLz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9zdmc+");
    background-size: 15px;
    transition: all 0.5s;
}

.left-arrow-preview-image:hover {
    transform: scale(1.2);
}

.right-arrow-preview-image {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ3Ny4xNzUgNDc3LjE3NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDc3LjE3NSA0NzcuMTc1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij48Zz48cGF0aCBkPSJNMzYwLjczMSwyMjkuMDc1bC0yMjUuMS0yMjUuMWMtNS4zLTUuMy0xMy44LTUuMy0xOS4xLDBzLTUuMywxMy44LDAsMTkuMWwyMTUuNSwyMTUuNWwtMjE1LjUsMjE1LjUgICBjLTUuMyw1LjMtNS4zLDEzLjgsMCwxOS4xYzIuNiwyLjYsNi4xLDQsOS41LDRjMy40LDAsNi45LTEuMyw5LjUtNGwyMjUuMS0yMjUuMUMzNjUuOTMxLDI0Mi44NzUsMzY1LjkzMSwyMzQuMjc1LDM2MC43MzEsMjI5LjA3NXogICAiIGZpbGw9IiNGRkZGRkYiLz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9zdmc+");
    background-size: 15px;
    transition: all 0.5s;
}

.right-arrow-preview-image:hover {
    transform: scale(1.2);
}