.dots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }
  .dots-container > .dot {
    background: #fff;
    border-radius: 5px;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
    width: 10px;
    cursor: pointer;
    opacity: 0.5;
  }
  .dots-container > .dot:hover {
    opacity: 0.9;
    transition: all .5s ease;
    transition-property: opacity;
  }
  .dots-container > .dot.active {
    cursor: pointer;
    opacity: 0.9;
  }
  
  @keyframes fadein-semi-visible05 {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
  @keyframes fadein-semi-visible09 {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  