<!-- <ng-template #menuBgLib>
  <div class="modal-header bg-header">
    <h4 class="modal-title bg-title pull-left">MOBILE AND WEB BACKGROUNDS AND COLORS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body menu-bg-body">
    <div class="main_menu_layout">
      <div class="main-bg-tab">
        <div (click)="tabChange($event)" [ngClass]="tabIndex === 0 ? 'tab-mobile tab-selected': 'tab-mobile'">Mobile</div>
        <span class="tab-separator">|</span>
        <div (click)="tabChange($event)" [ngClass]="tabIndex === 1 ? 'tab-web tab-selected': 'tab-web'">Web</div>
      </div>

      <div class="menu-background-group ">
        <ul *ngIf="menuBgGroupNames?.length> 0">
          <li (click)="selectGroupOption($event, i)" *ngFor="let menuGrpName of menuBgGroupNames; let i = index" [ngClass]="groupBgIdx === i?'current-page': ''">{{menuGrpName}}</li>
        </ul>
      </div>

      <div *ngIf="groupBgIdx === 0" class="menu-group-content menu-bg-pattern">
        <div class="general-pattern">
          <img class="delete-pattern" [src]="'/img/close_bg.png'" style="display: none;">
          <img class="img-general-pattern" style="display: none;" [src]="''">
          <div class="upload-general-pattern" style="display: block;">
            <input class="bg-main-img" type="image" src="/img/background_upload.png" width="40px">
            <span class="pt-txt-fileUpload">Upload File</span>
          </div>
        </div>
        <div class="general-background">
          <span class="general-background-text">Or</span>
          <div style="padding-bottom: 10px;">
            <div style="float: left; margin: 5px 13px 0 0;">Background Color :</div>
            <input [(ngModel)]="bgColor" (change)="colorChange($event,'bgColor')" class='form-control input-sm pattern-bg-color' [(colorPicker)]="pageFontColor"
              [cpOKButtonClass]="'btn btn-success btn-xs'" [cpOKButton]="true" [cpCancelButtonClass]="'btn btn-danger btn-xs'"
              [cpCancelButton]="true" [cpCancelButtonText]="'Cancel'" [value]="pageFontColor" type='text' />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>-->

<div class="modal fade" bsModal #menuBgLib="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="menuBackground"
  aria-hidden="true" (onHide)="onHide($event)">
  <div class="modal-dialog menu-bg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bg-title pull-left">{{ this.menuPageTitle }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body menu-bg-body">
        <div class="main_menu_layout">
          <div class="main-bg-tab">
            <div (click)="tabChange($event, 'mobile')" [ngClass]="tabName === 'mobile' ? 'tab-mobile tab-selected': 'tab-mobile'">Mobile</div>
            <span class="tab-separator">|</span>
            <div (click)="tabChange($event, 'web')" [ngClass]="tabName === 'web' ? 'tab-web tab-selected': 'tab-web'">Web</div>
          </div>

          <div class="menu-background-group ">
            <ul *ngIf="menuBgGroupNames?.length> 0">
              <li (click)="selectGroupOption($event, i)" *ngFor="let menuGrpName of menuBgGroupNames; let i = index" [ngClass]="checkSetupClass(i)">{{menuGrpName}}</li>
            </ul>
          </div>

          <!---                       Background Pattern                                   -->
          <div *ngIf="groupBgIdx === 0" class="form-group menu-group-content menu-bg-pattern">
            <div class="general-pattern">
              <img class="delete-pattern" (click)="deleteMenuImages($event, 'pt')" *ngIf="!utils.isNullOrEmpty(bgObj['pt']['background'])"
                [src]="'/img/close_bg.png'">
              <img class="img-general-pattern" *ngIf="!utils.isNullOrEmpty(bgObj['pt']['background'])" [src]="bgObj['pt']['background'] | safe">
              <input style="display: none;" type="file" #filept (change)="imageFileUpload($event.target.files, 'pt')">
              <div class="upload-general-pattern" (click)="fileProcess($event, 'pt')" *ngIf="utils.isNullOrEmpty(bgObj['pt']['background'])">
                <input class="bg-main-img" type="image" src="/img/background_upload.png" width="40px">
                <span class="pt-txt-fileUpload">Upload File</span>
              </div>
            </div>
            <div class="general-background">
              <span class="general-background-text">Or</span>
              <div style="padding-bottom: 10px;">
                <div style="float: left; margin: 5px 13px 0 0;">Background Color :</div>
                <input [(ngModel)]="bgObj['pt']['pageBackgroundColor']" (change)="colorChange($event, bgObj['pt']['pageBackgroundColor'])"
                  class="form-control input-sm pattern-bg-color" [(colorPicker)]="bgObj['pt']['pageBackgroundColor']" [cpOKButtonClass]="'btn btn-success btn-xs'"
                  [cpOKButton]="true" [cpCancelButtonClass]="'btn btn-danger btn-xs'" [cpCancelButton]="true" [cpCancelButtonText]="'Cancel'"
                  [value]="bgObj['pt']['pageBackgroundColor']" type="text" />
              </div>
            </div>
          </div>

          <!---                        Background Image                                 -->
          <div *ngIf="groupBgIdx === 1" class="form-group menu-group-content upload-background-group">
            <div class="vertical-app-background">
              <img class="delete-vertical-bg" (click)="deleteMenuImages($event, 'bgp')" *ngIf="!utils.isNullOrEmpty(bgObj['bgpl']['background_portrait'])"
                [src]="'/img/close_bg.png'">
              <img class="img-vertical-app-background" *ngIf="!utils.isNullOrEmpty(bgObj['bgpl']['background_portrait'])" [src]="bgObj['bgpl']['background_portrait'] | safe">
              <input style="display: none;" type="file" #fileBgp (change)="imageFileUpload($event.target.files, 'bgp')">
              <div class="upload-vertical-app-background" (click)="fileProcess($event, 'bgp')" *ngIf="utils.isNullOrEmpty(bgObj['bgpl']['background_portrait'])">
                <input id="img-vertical-background" type="image" [src]="'/img/background_upload.png'" width="40px">
                <span class="bgp-txt-fileUpload">Upload File</span>
                <span class="vertical-size">1240 x 2208</span>
              </div>
            </div>
            <div class="horizontal-app-background">
              <img class="delete-horizontal-bg" (click)="deleteMenuImages($event, 'bgl')" *ngIf="!utils.isNullOrEmpty(bgObj['bgpl']['background_landscape'])"
                [src]="'/img/close_bg.png'">
              <img class="img-horizontal-app-background" *ngIf="!utils.isNullOrEmpty(bgObj['bgpl']['background_landscape'])" [src]="bgObj['bgpl']['background_landscape'] | safe">
              <input style="display: none;" type="file" #fileBgl (change)="imageFileUpload($event.target.files, 'bgl')">
              <div class="upload-horizontal-app-background" (click)="fileProcess($event, 'bgl')" *ngIf="utils.isNullOrEmpty(bgObj['bgpl']['background_landscape'])">
                <input id="img-horizontal-background" type="image" [src]="'/img/background_upload.png'" width="40px">
                <span class="bgl-txt-fileUpload">Upload File</span>
                <span class="horizontal-size">2208 x 1240</span>
              </div>
            </div>
          </div>

          <!---                                   Top Banner                                 -->
          <div *ngIf="groupBgIdx === 2" class="form-group menu-group-content top-pattern-group">
            <div class="horizontal-top-pattern">
              <img class="delete-top-pattern" (click)="deleteMenuImages($event, 'tp')" *ngIf="!utils.isNullOrEmpty(bgObj['tp']['top_banner'])"
                [src]="'/img/close_bg.png'">
              <img class="img-horizontal-top-pattern" *ngIf="!utils.isNullOrEmpty(bgObj['tp']['top_banner'])" [src]="bgObj['tp']['top_banner'] | safe">
              <input style="display: none;" type="file" #fileTp (change)="imageFileUpload($event.target.files, 'tp')">
              <div class="upload-horizontal-top-pattern" (click)="fileProcess($event, 'tp')" *ngIf="utils.isNullOrEmpty(bgObj['tp']['top_banner'])">
                <input id="img-horizontal-top-pattern" type="image" [src]="'/img/background_upload.png'" width="40px">
                <span class="tp-txt-fileUpload">Upload File</span>
                <span class="horizontal-size">1240 x 375</span>
              </div>
            </div>
            <div style="display: block; margin-top: 15px;" class="top-pattern-scroll-mobile">
              <div style="float: left; margin-top: 2px;">Scroll Icons Over :</div>
              <div style="float: left; padding-left: 8px; margin-top: 0px;" class="checkbox">
                <label>
                  <input value="true" [checked]="bgObj['tp']['scrollIconsOver']" [(ngModel)]="bgObj['tp']['scrollIconsOver']" type="checkbox">
                </label>
              </div>
            </div>
            <div class="dv-top-banner-url">
              <div style="margin: 0px 10px 10 0;">Top Banner URL :</div>
              <input class="form-control input-sm topbannerurl" type="text" [disabled]="bgObj['tp']['scrollIconsOver']? true : false">
            </div>
          </div>

          <!--                               Nav Bar                                -->
          <div *ngIf="groupBgIdx === 3" class="form-group menu-group-content bg-text-color-group">
            <div style="padding-bottom: 10px;">
              <div style="float: left; margin: 2px 74px 0 0;">Icon Title Color :</div>
              <input [(ngModel)]="bgObj['navBar']['fontColor']" (change)="colorChange($event, bgObj['navBar']['fontColor'])" class="form-control input-sm icon-title-color"
                [(colorPicker)]="bgObj['navBar']['fontColor']" [cpOKButtonClass]="'btn btn-success btn-xs'" [cpOKButton]="true"
                [cpCancelButtonClass]="'btn btn-danger btn-xs'" [cpCancelButton]="true" [cpCancelButtonText]="'Cancel'" [value]="bgObj['navBar']['fontColor']"
                type="text" color="color" />
            </div>
            <div style="padding-bottom: 10px; margin-top: 27px;">
              <div style="float: left; margin: 2px 1px 0 0;">Icon Title Background Color :</div>
              <input [(ngModel)]="bgObj['navBar']['backgroundColor']" (change)="colorChange($event, bgObj['navBar']['backgroundColor'])"
                class="form-control input-sm page-bg-color" [(colorPicker)]="bgObj['navBar']['backgroundColor']" [cpOKButtonClass]="'btn btn-success btn-xs'"
                [cpOKButton]="true" [cpCancelButtonClass]="'btn btn-danger btn-xs'" [cpCancelButton]="true" [cpCancelButtonText]="'Cancel'"
                [value]="bgObj['navBar']['backgroundColor']" type="text" color="color" />
            </div>
            <div style="padding-bottom: 10px; margin-top: 27px;">
              <div style="float: left; margin: 2px 52px 0 0;">Nav Bar Font Color :</div>
              <input [(ngModel)]="bgObj['navBar']['bannerFontColor']" (change)="colorChange($event, bgObj['navBar']['bannerFontColor'])"
                class="form-control input-sm page-banner-color" [(colorPicker)]="bgObj['navBar']['bannerFontColor']" [cpOKButtonClass]="'btn btn-success btn-xs'"
                [cpOKButton]="true" [cpCancelButtonClass]="'btn btn-danger btn-xs'" [cpCancelButton]="true" [cpCancelButtonText]="'Cancel'"
                [value]="bgObj['navBar']['bannerFontColor']" type="text" color="color" />
            </div>
            <div style="padding-bottom: 10px; margin-top: 27px;">
              <div style="float: left; margin: 2px 59px 0 0;">Nav Bar Font Size :</div>
              <input class="form-control input-sm page-navbar-fontsize" [(ngModel)]="bgObj['navBar']['navbarFontSize']" type="number" color="color">
            </div>
            <div style="padding-bottom: 10px; margin-top: 27px;">
              <div style="float: left; margin: 2px 9px 0 0;">Nav Bar Background Color :</div>
              <input [(ngModel)]="bgObj['navBar']['bannerColor']" (change)="colorChange($event, bgObj['navBar']['bannerColor'])" class="form-control input-sm page-banner-bg-color"
                [(colorPicker)]="bgObj['navBar']['bannerColor']" [cpOKButtonClass]="'btn btn-success btn-xs'" [cpOKButton]="true"
                [cpCancelButtonClass]="'btn btn-danger btn-xs'" [cpCancelButton]="true" [cpCancelButtonText]="'Cancel'" [value]="bgObj['navBar']['bannerColor']"
                type="text" color="color" />
            </div>
          </div>

          <!--                                      Tab Icon                                                      -->
          <div *ngIf="groupBgIdx === 4" class="form-group menu-group-content tab-icon-group"
            style="display: block;">
            <div class="mobile-tab-icon">
              <img class="delete-tab-icon" (click)="deleteMenuImages($event, 'ti')" *ngIf="!utils.isNullOrEmpty(bgObj['ti']['tabIcon'])"
                src="/img/close_bg.png">
              <img class="img-tab-icon" *ngIf="!utils.isNullOrEmpty(bgObj['ti']['tabIcon'])" [src]="bgObj['ti']['tabIcon'] | safe">
              <input style="display: none;" type="file" #fileTi (change)="imageFileUpload($event.target.files, 'ti')">
              <div class="upload-tab-icon" (click)="fileProcess($event, 'ti')" *ngIf="utils.isNullOrEmpty(bgObj['ti']['tabIcon'])">
                <input id="img-tab-icon" type="image" src="/img/background_upload.png" width="40px">
                <span class="ti-txt-fileUpload">Upload File</span>
              </div>
            </div>
            <div class="tab-icon-input-group">
              <div style="margin-top:18px; padding-left:0px;" class="checkbox">
                <label>
                  <input value="true" [checked]="bgObj['ti']['tabIconIsMask']" [(ngModel)]="bgObj['ti']['tabIconIsMask']" type="checkbox" name="tabIconIsMask"
                    style="margin-top: 1px;" value="">Mask</label>
              </div>
              <div style="padding-left:0px;" class="checkbox">
                <label>
                  <input value="true" [checked]="bgObj['ti']['tabTitleHidden']" [(ngModel)]="bgObj['ti']['tabTitleHidden']" type="checkbox"
                    name="tabTitleHidden" style="margin-top: 1px;" value="">Hide Title</label>
              </div>
            </div>
          </div>

          <!--                      Page Layout                                   -->
          <div *ngIf="groupBgIdx === 5" class="form-group menu-group-content page-layout-group">
            <div style="float:left; width: 100%; height: 226px;">
              <div style="padding-bottom: 10px; padding-bottom: 35px;">
                <div style="float: left; margin: 2px 15.5px 0 0;">Standard number of columns :</div>
                <select [(ngModel)]="bgObj['pageLayout']['standardNumberOfColumns']" class="form-control input-sm page-layout-text">
                  <option [value]="'2'">2</option>
                  <option [value]="'3'">3</option>
                  <option [value]="'4'">4</option>
                  <option [value]="'5'">5</option>
                </select>
              </div>
              <div style="padding-bottom: 10px; padding-bottom: 35px;">
                <div style="float: left; margin: 2px 41px 0 0;">Min Square Icon Size (%) :</div>
                <input class="form-control input-sm page-layout-text" [(ngModel)]="bgObj['pageLayout']['minSquareIconSize']" type="number"
                  min="0" max="100">
              </div>
              <div style="padding-bottom: 10px; padding-bottom: 35px;">
                <div style="float: left; margin: 2px 50px 0 0;">Spacing between Icons :</div>
                <input class="form-control input-sm page-layout-text" [(ngModel)]="bgObj['pageLayout']['spacingBetweenIcons']" type="number"
                  placeholder="pt">
              </div>
              <div *ngIf="bgObj['pageLayout'].hasOwnProperty('navigationTabOnBottom')" style="padding-bottom: 10px; padding-bottom: 35px;">
                <div style="float: left; margin: 2px 96.5px 0 0;">Navigation Tab :</div>
                <select [(ngModel)]="bgObj['pageLayout']['navigationTabOnBottom']" class="form-control input-sm page-layout-text">
                  <option [value]="false">Top</option>
                  <option [value]="true">Bottom</option>
                </select>
              </div>
            </div>
          </div>

          <!--                                  Square Icon (and) Wide Icon                           -->
          <div *ngIf="groupBgIdx === 6 || groupBgIdx === 7" class="form-group menu-group-content square-icon-group">
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Vertical Alignment :</div>
              <select [(ngModel)]="bgObj['squareWideIcon']['verticalAlignment']" class="form-control input-sm si-input-size">
                <option [value]="''">Select</option>
                <option [value]="'top'">Top</option>
                <option [value]="'center'">Center</option>
                <option [value]="'bottom'">Bottom</option>
                <option [value]="'below'">Below Image</option>
              </select>
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Horizontal Alignment :</div>
              <select [(ngModel)]="bgObj['squareWideIcon']['horizontalAlignment']" class="form-control input-sm si-input-size">
                <option [value]="''">Select</option>
                <option [value]="'leading'">Leading</option>
                <option [value]="'center'">Center</option>
                <option [value]="'trailing'">Trailing</option>
              </select>
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Vertical Offset :</div>
              <input [(ngModel)]="bgObj['squareWideIcon']['verticalOffset']" class="form-control input-sm si-input-size" type="number">
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Horizontal Offset :</div>
              <input [(ngModel)]="bgObj['squareWideIcon']['horizontalOffset']" class="form-control input-sm si-input-size" type="number">
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Font Size :</div>
              <input [(ngModel)]="bgObj['squareWideIcon']['fontSize']" class="form-control input-sm si-input-size" type="number" placeholder="pt">
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Font Color :</div>
              <input [(ngModel)]="bgObj['squareWideIcon']['fontColor']" (change)="colorChange($event, bgObj['squareWideIcon']['fontColor'])"
                class="form-control input-sm si-input-size" [(colorPicker)]="bgObj['squareWideIcon']['fontColor']" [cpOKButtonClass]="'btn btn-success btn-xs'"
                [cpOKButton]="true" [cpCancelButtonClass]="'btn btn-danger btn-xs'" [cpCancelButton]="true" [cpCancelButtonText]="'Cancel'"
                [value]="bgObj['squareWideIcon']['fontColor']" type="text" color="color" />
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Font Background Color :</div>
              <input [(ngModel)]="bgObj['squareWideIcon']['textBackgroundColor']" (change)="colorChange($event, bgObj['squareWideIcon']['textBackgroundColor'])"
                class="form-control input-sm si-input-size" [(colorPicker)]="bgObj['squareWideIcon']['textBackgroundColor']"
                [cpOKButtonClass]="'btn btn-success btn-xs'" [cpOKButton]="true" [cpCancelButtonClass]="'btn btn-danger btn-xs'"
                [cpCancelButton]="true" [cpCancelButtonText]="'Cancel'" [value]="bgObj['squareWideIcon']['textBackgroundColor']"
                type="text" color="color" />
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Font Background Alpha :</div>
              <input [(ngModel)]="bgObj['squareWideIcon']['textBackgroundAlpha']" class="form-control input-sm si-input-size" type="number"
                min="0.0" max="1.0" value="0.0" step="0.1">
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Border :</div>
              <select [(ngModel)]="bgObj['squareWideIcon']['border']" class="form-control input-sm si-input-size">
                <option [value]="''">Default</option>
                <option [value]="true">On</option>
                <option [value]="false">Off</option>
              </select>
            </div>
            <div style="padding-bottom: 10px; width:100%; float:left;">
              <div style="float: left;">Bold :</div>
              <select [(ngModel)]="bgObj['squareWideIcon']['fontBold']" class="form-control input-sm si-input-size">
                <option [value]="''">Default</option>
                <option [value]="true">On</option>
                <option [value]="false">Off</option>
              </select>
            </div>
          </div>

          <!--                            Follow                             -->
          <div *ngIf="groupBgIdx === 8" class="form-group menu-group-content page-follow-group">
            <div style="float: left; width: 100%; padding-bottom: 10px;">
              <div style="float: left;">Follow :</div>
              <select [(ngModel)]="bgObj['flw']['follow']" class="form-control input-sm page-follow">
                <option [value]="''">Default</option>
                <option [value]="true">On</option>
                <option [value]="false">Off</option>
              </select>
            </div>
            <div style="padding-bottom: 10px;">
              <div style="float: left; margin: 2px 20px 0 0;">Link to Notifications :</div>
              <select [(ngModel)]="bgObj['flw']['linkToNotifications']" class="form-control input-sm page-link-notification">
                <option [value]="''">Default</option>
                <option [value]="true">On</option>
                <option [value]="false">Off</option>
              </select>
            </div>
          </div>

        </div>

        <div class="save-bg-btn">
          <button (click)="updatePageData($event)" class="btn btn-warning btn-xs bg-save">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>