<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/ui-darkness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/js/jqgrid/src/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" href="/js/jqgrid/src/css/ui.jqgrid-bootstarp.css" />
<link rel="stylesheet" type="text/css" href="/css/s_stream_url.css" />

<div class="container stream_url_container">
  <div class="stream_mapping_content">
    <div class="stream_url_apps_main">
      <div id="apps-grid-pager"></div>
      <table id="apps-grid"></table>
    </div>

    <div class="stream_url_main_stream">
      <div id="stream-grid-pager"></div>
      <table id="stream-grid"></table>
    </div>
  </div>
</div>