<div class="container">
  <div class="page_header">
    <img class="header_logo" src="assets/img/header/QIL_logo.png">
    <div class="header_user_info" style="bottom: 51px;">
      <select class="user_organization" [(ngModel)]="defaultOrg" (ngModelChange)="orgChange($event)" id="ddUserOrganization" style="display: inline-block;">
         	<option [value]=-1 disabled>Select Organization</option>
         <option [attr.id]="'orgOption' + i" [attr.type]="org.type_id" *ngFor="let org of orgs; let i = index" [selected]="org === selectedOrg" [ngValue]="org" >{{org.name}}</option>
      </select>
      <a class="header_username" (click)="accountPage()" href="javascript:void(0);"></a>
      <a class="header_logout" href="javascript:void(0);">Logout</a>
    </div>
    <div class="navbar navbar-default" id="ili_menu">
      <ul class="nav navbar-nav" id="ili_menu_ulRight"></ul>
      <ul class="nav navbar-nav navbar-right"></ul>
    </div>
  </div>
</div>