.tile_image_list {
    position: relative;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.tile_image_upload {
    margin-top: 10px;
    color: #000000;
}

.image_upload_btn {
    float: right;
    margin-top: 10px;
    font-size: 14px;
}

#selectable .selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
}

#selectable li {
    margin: 0px 5px 5px 0px;
    padding: 1px;
    float: left;
    width: 120px;
    height: 117px;
    text-align: center;
}

#selectable li img {
    max-width: 115px;
    max-height: 80px;
    padding-top: 2px;
}

.crop_btn {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
    font-size: 14px;
    margin-left: 10px;
}

.dialog-class {
    top: 40%;
    left: 50%;
}

.done-cropping {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

div.jcrop-holder {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.select_nocrop_btn {
    margin-top: 10px;
    display: none;
    float: right;
    font-size: 14px;
    margin-left: 10px;
}

.image_delete_btn {
    float: right;
    margin-top: 10px;
    display: none;
    font-size: 14px;
    margin-left: 10px;
}

.img-buttons {
    width: 100%;
    font-size: 14px;
    height: 20px;
}

.img_folder {
    width: 200px
}

.img-v-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.file-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.file-wrapper input {
    height: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    filter: alpha(opacity=1);
    opacity: 0.01;
    -moz-opacity: 0.01;
    cursor: pointer;
}

.file-wrapper .button {
    border: 1px solid #D3D3D3;
    color: #030303;
    background: #E2E2E2;
    padding: 4px 18px;
    margin-right: 4px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    display: inline-block;
    cursor: pointer;
}

.ng-select.custom {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom>.ng-control {
    min-height: 0px;
    border-radius: 0;
}

.uploaded {
    color: green;
}

.table {
    margin-bottom: 2px;
}

.btn-home {
    line-height: 1.75;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 24px;
}

.btn-home.focus, .btn-home:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    width: 24px;
}

.btn-home:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    width: 24px;
}

.btn-home.active, .btn-home:active, .open>.dropdown-toggle.btn-home {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    width: 24px;
}

.btn-home.active.focus, .btn-home.active:focus, .btn-homeactive:hover, .btn-home:active.focus, .btn-home:active:focus, .btn-home:active:hover, .open>.dropdown-toggle.btn-home.focus, .open>.dropdown-toggle.btn-home:focus, .open>.dropdown-toggle.btn-home:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    width: 24px;
}

.btn-home.active, .btn-home:active, .open>.dropdown-toggle.btn-home {
    background-image: none
}

.btn-home.disabled.focus, .btn-home.disabled:focus, .btn-home.disabled:hover, .btn-home[disabled].focus, .btn-home[disabled]:focus, .btn-home[disabled]:hover, fieldset[disabled] .btn-home.focus, fieldset[disabled] .btn-home:focus, fieldset[disabled] .btn-home:hover {
    background-color: #fff;
    border-color: #ccc
}

.btn-home .badge {
    color: #fff;
    background-color: #333
}

.list-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.crop-container {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1111;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5px;
}

.crop-box {
    background-color: #fff;
    border-radius: 0px;
    width: 520px;
}

.crop-box .crop-box-header {
    border-bottom: 1px solid #ddd;
    padding: 4px;
    position: relative;
}

.crop-box .crop-box-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.crop-box .crop-box-body {
    padding: 20px;
    color: #312e2e;
}

.crop-box .crop-box-footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding-right: 5px;
}

.crop-box .crop-box-footer a:last-child {
    margin-left: 5px;
}

.radio-inline>label {
    font-weight: normal;
    color: #000000;
    margin-top: 8px;
    margin-left: 8px;
}

.radio-inline {
    line-height: 1.9;
    margin-right: 10px;
    padding-left: 0px;
    margin-left: 0px;
}

.radio-inline input[type=radio] {
    float: left;
    margin-left: -10px;
    width: 25px;
    position: relative;
}

.crop-box .crop-box-close {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: transparent;
    border: 0;
}

.crop-box .crop-box-close span {
    color: #657786;
    font-size: 18px;
    line-height: 24px;
}

.crop-box .crop-box-close span::before {
    content: "x";
}

.inline-block {
    display: inline-block;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.modal-title {
    float: left;
    width: 135px;
}

.modal-dialog {
    width: 440px;
}

.modal-content {
    width: 440px;
}

.modal-header {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
}

.close-icon {
    top: 2px;
}

.btn-upload, .btn-cancel, .btn-crop, .btn-withoutcrop, .btn-done-crop {
    margin-right: 5px;
}

.btn-withoutcrop {
    width: 128px;
}

.btn-done-crop {
    width: 106px;
}

.btn-multi-upload {
    width: 106px;
    margin-left: 5px;
    float: right;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100px;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */

@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.previewIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.invalid-drag {
    border: dotted 3px red;
}

.valid-drag {
    border: dotted 3px green;
}

.inline-block {
    display: inline-block;
    margin: .2em;
}

#selectable li .image-length {
    font-size: 12px;
}