<div class="container qa_scores_container">
  <div class="page_block qa_weight_list_show">

  </div>
  <div class="page_block qa_weight_main_container">
    <div class="qa_score_header_content">
      <input class="form-control input-sm title-qa-scores" type="text" placeholder="Report Name">

      <select class="form-control input-sm filter_procedure">
        <option value="-1">All Procedure</option>
      </select>

      <div class="qa_scores_form_btns">
        <button class="ili-btn qa_score_new">
          New
        </button>
        <button class="ili-btn qa_score_save">
          Save
        </button>
        <button class="ili-btn qa_score_delete">
          Delete
        </button>
      </div>
    </div>

    <div id="main-tile_squares" class="squares_main_content">
      <div *ngFor="let sqr of (tileSquares | filterInByArray: 'tileId': selectedTiles); let i = index; trackBy: trackByUniqueId"
        class="square-tiles">
        <p style="cursor: pointer; float: left; width: 97%; margin-left: 3%;" data-toggle="collapse" [attr.data-target]="'#' + sqr.tileId">
          <u>{{sqr.title}} </u>
        </p>

        <div [attr.id]="sqr.tileId" class='collapse in'>
          <div *ngFor="let blk of sqr['blocks']; let j = index; trackBy: trackByBlockId" class="block_main">

            <div style="float:left; width:100%;" *ngFor="let opt of blk['options']; let k = index;">
              <div class="select-main-block">
                <input value="true" id="selected-blocks" type="checkbox">
              </div>
              <label class="qa_scores_main_ques">
                {{opt!.questionText}}
              </label>
              <div style="float: left; width: 14%; font-weight: 500; color: #fff;">In-app answers</div>
              <div class="form-group">
                <div *ngFor="let dt of opt['datas']; let l = index" class='survey_answers'>
                  <label style="line-height: 1.95;">
                    <input name="answers" class="wgt_score_val" [(ngModel)]="dt['value']" type="text"> {{dt!.text}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page_block qa_scores_tiles_panel">
    <div class="tiles_list_search">
      <input [(ngModel)]="tileSort[ 'tileSearchText']" class="form-control input-sm tile_search_box" type="text" placeholder="Search Tiles">
      <select [(ngModel)]="selectedCategory" class="form-control input-sm qascores_tile_category_filter">
        <option [value]="'-1'">All Categories</option>
        <option *ngFor="let tileCat of tileCategories; let i = index" [value]="tileCat?._id">{{tileCat?.name}}</option>
      </select>
    </div>

    <div class="tiles_sort">
      <label class="txt_arrange ">Sort by: </label>
      <select [(ngModel)]="tileSort[ 'selectedOpt']" class="form-control input-sm sort_box" placeholder="Search">
        <option [value]="'date'">Date</option>
        <option [value]="'title'">Title</option>
        <option [value]="'category'">Category</option>
        <option [value]="'author'">Author</option>
      </select>
      <div *ngIf="tileSort['selectedOpt'] === 'date'" class="do_sort">
        <div *ngIf="tileSort['isAsc']" (click)="doSort(false)">
          Oldest on top
          <img class="sort_image" src='/img/sort_up.png' />
        </div>
        <div *ngIf="!tileSort[ 'isAsc']" (click)="doSort(true)">
          Newest on top
          <img class="sort_image" src="/img/sort_down.png" />
        </div>
      </div>
      <div *ngIf="tileSort['selectedOpt'] !=='date'" class="do_sort">
        <div *ngIf="tileSort['isAsc']" (click)="doSort(false)" class="text_asc">
          A on top
          <img class="sort_image" src="/img/sort_up.png" />
        </div>
        <div *ngIf="!tileSort['isAsc']" (click)="doSort(true)">
          Z on top
          <img class="sort_image" src="/img/sort_down.png" />
        </div>
      </div>

      <div class="tiles_count_main">
        <div class="tile-view-change ">
          <img *ngIf="tileSort['listType']==='list'" (click)="changeTileView('details')" src="/img/details.png" alt=" " title="Details"
          />
          <img *ngIf="tileSort['listType']==='details'" (click)="changeTileView('list')" src="/img/list.png " alt="" title="List" />
        </div>
        <div class='tiles_list_count'>
        </div>
      </div>

      <div id="tiles-list-show" class="qa_scores_tiles_list_panel">
        <div (click)="selectTiles($event, tile)" [ngClass]="checkSelectedExists(tile)? 'tiles_list_single selected' : 'tiles_list_single'"
          *ngFor="let tile of (tileList | filterByText:'title': tileSort['tileSearchText'] | filterByText:'category': selectedCategory | orderBy:tileSort['isAsc']:tileSort['values'][tileSort['selectedOpt']][0]: tileSort['values'][tileSort['selectedOpt']][1]); let i = index; trackBy: trackByTileId">
          <img [ngClass]="tileSort['listType'] === 'list'? 'tile_list_art tile-content-img' : 'tile_list_art tile-details-img'" [src]="tile?.art | safe">
          <div class="tile_list_title tile-content-title">{{tile?.title}}</div>
          <div *ngIf="tile" class="tile_icons">
            <span [title]="tile!.tileApps" [style.display]="tile!.isWgt" class="step weight"></span>
            <span [title]="tile!.tileHealthStatusRules" [style.display]="tile!.isRules" class="step smart smarticon report-rule-tile">
              <i class="icon ion-heart"></i>
            </span>
            <span [title]="tile!.tileProcedure" [style.display]="tile!.isProcedure" class="step smart smarticon smarticon-tile">
              <i class="icon ion-medkit"></i>
            </span>
            <span [title]="tile!.tileSmart" [style.display]="tile!.isSmart" class="step smart smarticon smarticon-tile">
              <i class="icon ion-lightbulb"></i>
            </span>
            <span [title]="tile!.tileNotifications" [style.display]="tile!.isNotification" class="step smart noteicon smarticon-tile"
              style="display: block;" aria-hidden="true">
              <i class="icon ion-android-notifications-none"></i>
            </span>
            <span [title]="tile!.tileApps" [style.display]="tile!.isRole" class="step smart smarticon smarticon-tile">
              <i class="icon ion-android-person"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet" href="/css/ti_icons.css">