il-alert {
    display: block;
}

il-alert .il__alert_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
}

il-alert .il__alert_wrapper {
    width: 400px;
    border-radius: 0.2rem;
    position: fixed;
    top: 20%;
    text-align: center;
    left: calc(50% - 200px);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    z-index: 2010;
    transform-origin: bottom center;
    background: white;
}

il-alert .il__alert_wrapper_close {
    position: absolute;
    top: -5px;
    right: 1px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

il-alert .close_alert {
    font-size: 25px;
    opacity: .6;
    color: #757474;
}

il-alert .il__alert_wrapper_close:hover {
    opacity: 1;
}

il-alert .il__alert_wrapper_symbol {
    border-bottom: 1px solid #e5e5e5;
}

il-alert .il__alert_wrapper_symbol span {
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding: 1rem 0rem;
}

il-alert .il__alert_wrapper_symbol .success {
    color: #17A398;
}

il-alert .il__alert_wrapper_symbol .error {
    color: #D64550;
}

il-alert .il__alert_wrapper_symbol .warning {
    color: #FFC857;
}

il-alert .il__alert_wrapper_symbol .info {
    color: #8FBFE0;
}

il-alert .il__alert_wrapper_symbol .confirm {
    color: #f0ad4e;
}

il-alert .il__alert_wrapper_message {
    padding: 1rem;
    color: #757474;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.6;
    transition: all 450ms ease-in-out 100ms;
    cursor: default;
    -moz-user-select: none;
    user-select: none;
}

il-alert .il__alert_wrapper_short {
    font-size: 15px;
    font-weight: 400;
    padding: 0.1rem;
    color: #757474;
    letter-spacing: 1px;
    border-bottom-left-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

il-alert .il__alert_wrapper_short:first-letter {
    text-transform: uppercase;
}

il-alert .il__confirmation_dialog-actions {
    min-height: 52px;
    padding: 8px 8px 8px 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
}

il-alert .il__confirmation_dialog-actions button {
    min-width: 48px;
    color: white;
    min-height: 30px;
    margin: 3px 4px;
    padding: 0 4px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background: none;
    border: 0;
    border-radius: 0px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-family: inherit;
    font-size: 12px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: 500;
    letter-spacing: inherit;
    line-height: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

il-alert .il__confirmation_dialog-actions .default {
    background: #989898;
}

il-alert .il__confirmation_dialog-actions .default:hover {
    background: #7f7f7f;
}

il-alert .il__confirmation_dialog-actions .primary {
    background: #ec4a1d;
}

il-alert .il__confirmation_dialog-actions .primary:hover {
    background: #e57454;
}