<div *ngIf="incomingData.overlay" class="il__alert_overlay" [@overlayAn]="animationState" (click)="overlayClick()"></div>
<div class="il__alert_wrapper" [@wrapperAn]="animationState">

  <div *ngIf="type==='question'; else otherblock">
    <div class="il__alert_wrapper_close" *ngIf="incomingData.showCloseButton" (click)="closeSelf({resolved: -1})">
      <span class="close_alert">×</span>
    </div>
  </div>
  <ng-template #otherblock>
    <div class="il__alert_wrapper_close" *ngIf="incomingData.showCloseButton" (click)="closeSelf({resolved: false})">
      <span class="close_alert">×</span>
    </div>
  </ng-template>

  <div class="il__alert_wrapper_symbol" [ngSwitch]="type">
    <ng-template ngSwitchCase="success">
      <span [@symbolAn]="animationState" class="glyphicon glyphicon-ok-sign success"></span>
    </ng-template>

    <ng-template ngSwitchCase="error">
      <span [@symbolAn]="animationState" class="glyphicon glyphicon-exclamation-sign error"></span>
    </ng-template>

    <ng-template ngSwitchCase="warning">
      <span [@symbolAn]="animationState" class="glyphicon glyphicon-warning-sign warning"></span>
    </ng-template>

    <ng-template ngSwitchCase="info">
      <span [@symbolAn]="animationState" class="glyphicon glyphicon-info-sign info"></span>
    </ng-template>

    <ng-template ngSwitchCase="confirm">
      <span [@symbolAn]="animationState" class="glyphicon glyphicon-check confirm"></span>
    </ng-template>

    <ng-template ngSwitchCase="question">
      <span [@symbolAn]="animationState" class="glyphicon glyphicon-question-sign confirm"></span>
    </ng-template>

    <div class="il__alert_wrapper_short">
      <p [@shortAn]="animationState" *ngIf="!incomingData.title else customTitle">
        {{type}}!
      </p>

      <ng-template #customTitle>
        <div [@shortAn]="animationState" *ngIf="incomingData.titleIsTemplate else regularTitle">
          <ng-container *ngTemplateOutlet="regularTitle;"></ng-container>
        </div>
        <ng-template #regularTitle>
          <div [innerHTML]="incomingData.title"></div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="il__alert_wrapper_message" [@messageAn]="animationState">
    <div *ngIf="incomingData.messageIsTemplate else regularMessage">
      <ng-container *ngTemplateOutlet="regularMessage;"></ng-container>
    </div>
    <ng-template #regularMessage>
      <div [innerHTML]="incomingData.message"></div>
    </ng-template>
  </div>

  <div class="il__confirmation_dialog-actions" *ngIf="type==='confirm'">
    <button class="primary" (click)="resolve({resolved: true})">
      {{incomingData?.confirmText}}
    </button>
    <button class="default" (click)="resolve({resolved: false})">
      {{incomingData?.declineText}}
    </button>
  </div>

  <div class="il__confirmation_dialog-actions" *ngIf="type==='question'">
    <div *ngIf="incomingData.btnText1 !==''">
      <button class="default" (click)="resolve({resolved: 0})">
        {{incomingData?.btnText1}}
      </button>
    </div>
    <div *ngIf="incomingData.btnText2 !==''">
      <button class="default" (click)="resolve({resolved: 1})">
        {{incomingData?.btnText2}}
      </button>
    </div>
    <div *ngIf="incomingData.btnText3 !==''">
      <button class="default" (click)="resolve({resolved: 2})">
        {{incomingData?.btnText3}}
      </button>
    </div>
    <div *ngIf="incomingData.btnText4 !==''">
      <button class="default" (click)="resolve({resolved: 3})">
        {{incomingData?.btnText4}}
      </button>
    </div>
  </div>
</div>