<div class="container procedures_container">
  <div class="page_block procedures_head">
    <ng-select class="custom" placeholder="Select/Add Folder" [items]="folders" [(ngModel)]="selectedFolders" [multiple]="false"
      [addTag]="false" (open)="onOpen()" (close)="onClose()" (focus)="onFocus($event)" (blur)="onBlur($event)" (clear)="onClear()"
      (inputchange)="onSelectChange($event)" (add)="onAdd($event)" (remove)="onRemove($event)" (selectchange)="onChange($event)">
    </ng-select>

    <p>
      Selected value: {{selectedFolders | json}}
    </p>
  </div>
</div>