.tile_block {
    width: 99.5%;
    float: left;
    z-index: 1px;
    padding-left: 15px;
    min-height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.confirmation_text_block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.url_block_url {
    width: 97%;
    margin-top: 10px;
}

.notes_panel {
    width: 97%;
}

.contents_input_account {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
}

.txt-email-notes {
    font-size: 11px;
}

.url_block_url {
    width: 97%;
    margin-top: 10px;
}

.input-group-sm>.form-control {
  font-size: 11px;
}

.content_buttons{
    margin-bottom: 10px; 
    position: relative; 
    width: 100%; 
    text-align: right; 
    height: 15px;
}

.drag_cursor{ 

}

.widgetstext{
    position: relative; 
    float: left; 
    font-family: Verdana,Arial,sans-serif; 
    font-size: 0.8em;
}

.tigger_btn{
    margin-right: 11px; 
    margin-top: 2px; 
    cursor: pointer; 
    float: right;
}

.redirect-app-submit{
    float:right; 
    margin-right: 18px;
}

.redirect-back-app{
    float: right; 
    font-weight: normal; 
    font-size: 11px; 
    font-size: 0.8em; 
    color: #666;
}

  /* Survey Block */

.survey_panel {
    width: 98%;
    float: left;
    margin-top: 5px;
    border-radius: 0px;
    border-color: #ddd;
    margin-bottom: 8px;
}

.text_header_content {
    font-size: 11px;
    float: left;
    text-align: justify;
    padding: 0 2%;
}

.survey_question_text {
    width: 516px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.control_survey {
    width: 98%;
    float: left;
}

.decription-survey {
    float: left;
    margin-left: 30px;
    margin-right: 5px;
    padding: 0px 0px;
    font-size: 93%;
    margin-top: 1px;
}

.ques-one, .ques-multiple, .ques-radio, .ques-dropdown{
    margin-top: 2px;
}

.control-app{
    margin-left: 30px;
}

.survey_controls{
    float: left;
    margin-right: 11px;
    width: 202px;
    margin-bottom: 12px;
}

.survey-opts{
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 233px;    
}

.survey_text_row {
    width: 87%;
    float: left;
    height: 4%;
    margin-top: 10px;
    padding: 0 4%;
}

.options-count {
    float: left;
    padding: 4px 5px 0 0;
    width:23px;
}

.survey_option_box {
    width: 473px;
    float: left;
    margin-bottom: 5px;
}

.delete-quest-option {
    margin-left: 8px;
    margin-top: 3px;
    cursor: pointer;
}

.btn-questionnaire {
    width: 88px;
}

.btn-add-text-box {
    margin-bottom: 1px;
    margin-top: 10px;
    margin-left: 14px;
}

.chk-results, .enable-note{
    margin-top: 2px;
}

.survey_add_alert {
    width: 100%;
}

.survey-confirmation {
    margin-left: 5px;
    width: 105px;
    float: right;
}

.btn-ques-alert {
    width: 80px;
    float: right;
}

.btn-popup-alert {
    width: 80px;
    float: right;
    margin-right: 5px;
}

.survey-option-btn{
   float: right;
   margin-right: 14px;
}

.ques_alert_row {
    width: 100%;
    height: 5%;
    margin-top: 1%;
    padding: 0px 4%;
    margin-bottom: 1%;
}

.ques-alert-count {
    float: left;
    padding: 4px 5px 0px 0px;
}

.ques_alert_box {
   width: 97%;
   float: left;
}

/* Cascading Questionnaire Block */

.cc_text_header_content {
    font-size: 11px;
    float: left;
    text-align: justify;
    padding: 0 2%;
}

.cc_ques_panel {
    width: 98%;
    float: left;
    margin-top: 5px;
    border-radius: 0px;
    border-color: #ddd;
    margin-bottom: 8px;
}

.cc-questions-block{
    position:relative;
    float: left; 
    width: 98.5%; 
    height: 30px;
}

.cc-question-survey-md{
    margin-right:10px; 
    float:left;
}

.cc_questionare_text{
    width: 509px; 
    margin-right:10px;
    float: left;
}

.cc-btn-add-text-box {
    margin-bottom: 1px;
    margin-left: 3px;
    float: left;
    width: 90px;
    height: 24px;
}

.cc-questionare-row{ 
    width: 97%;
    margin-left:15px; 
    margin-right:0px;
    float:left;
    margin-bottom:5px;
}

.cc-decription-questionare{
    margin-right: 10px;
    float:left;
    padding: 0;
    font-size: 11px; 
    margin-top:2px;
}

.cc-ques-one, .cc-ques-multiple, .cc-ques-radio, .cc-ques-dropdown{
    margin-top: 2px;
}

.cc_questionnaire_controls{
    float: left;
    margin-right: 11px;
    width: 202px;
    margin-bottom: 12px;
}

.cc-chk-enable-note{
    float: left; 
    margin: 1px 5px 0 0;    
}

.cc-take-notes{
    float: left; 
    margin-top: 2px; 
    font-size: 11px; 
    margin-right: 10px;
}

.cc-ques-opts{
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 233px;    
}

.cc_questionare_text{
    width: 509px; 
    margin-right:10px;
}

.cc-options-main-row{
    width: 100%;
    margin-top: 1%;
    padding: 0 4%;
}

.cc-options-row {
    width: 100%;
    position: relative;
    float: left;
}

.cc-options-count {
    float: left;
    padding: 4px 5px 0 0;
}

.cc_survey_option_box {
    width: 473px;
    float: left;
    margin-bottom: 5px;
}

.cc-delete-quest-option {
    margin-left: 8px;
    margin-top: 3px;
    cursor: pointer;
}

.cc_ques_add_alert {
    width: 100%;
}

/* Sub Option Questionnaire */

.cc-options-sub-row{
    width: 100%;
    margin-left: 15px;
    margin-top: 10px;
    padding: 0px;
    float:left
}

.cc-options-sub-questionaire {
    width: 105%;
    margin-bottom: 10px; 
    margin-top: 0px; 
    margin-left: 0px;
    float:left;
}

.cc-sub-question-no{
    float: left; 
    margin-right: 5px; 
    margin-top: 5px;
}

.cc-sub-questionaire{
    width: 499px; 
    margin-left: 0px; 
    float:left;
}

.cc-sub-add-options{
    margin-bottom: 0px; 
    margin-top: 1px; 
    margin-left: 5px;
    float:left;
}

.cc-delete-quest-option{
    margin-left: 8px; 
    margin-top: 3px; 
    cursor: pointer;
}

.cc-sub-questionare-options{
    margin-bottom: 5px;
    margin-top: 5px;
    float:left;
    width: 90.5%;
    margin-left: 21px;
}

.cc-sub-questionare-decription{
  margin-right: 10px; 
  float:left; 
  font-size: 11px; 
  margin-top:2px;
}

.cc_sub_questionnaire_controls{
    float: left;
    margin-right: 11px;
    width: 202px;
    margin-bottom: 12px;
}

.cc-sub-ques-opts{
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 233px;    
}

.cc-sub-questions-row{
    float: left;
    width: 100%;
    margin-top: 0px; 
    margin-left: 21px;
}

.cc-sub-ques-list-input{
    padding: 2px;
    margin-left: 0px; 
    width: 95%;  
    float: left;
}

.cc_ques_option_box{
    width: 486px; 
    float: left;
     margin-bottom:5px;
}



