.tile_block {
    width: 99.5%;
    float: left;
    z-index: 1px;
    padding-left: 15px;
    min-height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.confirmation_text_block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.url_block_url {
    width: 97%;
    margin-top: 10px;
}

.content_account_panel {
    width: 97%;
}

.contents_input_account {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.txt-email-notes {
    font-size: 11px;
}

.url_block_url {
    width: 97%;
    margin-top: 10px;
}