<div class="page_block tiles_list">
  <div class="tile_list_text">
    <span> TILES </span>
  </div>
  <div class='tiles_list_search'>
    <input id='txtTileSearch' [(ngModel)]="tileSearchText" class='form-control input-sm search_box' type='text' placeholder='Search Tiles'
    />
    <select id='drpdnTileOrgs' [ngModel]="selectedOrg" (ngModelChange)="orgChange($event)" class="form-control input-sm filter_select_box orgs_box">
      <option *ngFor="let org of organizations; let i = index" [value]="org?._id">{{org?.name}}</option>
    </select>
    <select id='drpdnTileCategory' [ngModel]="selectedCategory" (ngModelChange)="categoryChange($event)" class="form-control input-sm filter_select_box category_box">
      <option [value]="-1" disabled>All Categories</option>
      <option *ngFor="let tileCat of tileCategories; let i = index" [value]="tileCat?._id">{{tileCat?.name}}</option>
    </select>
  </div>
  <div class="tiles_sort">
    <label class="txt_arrange">Sort by: </label>
    <select id='drpdnTileSort' [ngModel]="sortOpt['selectedOpt']" (ngModelChange)="sortChange($event)" class="form-control input-sm sort_box" placeholder='Search'>
      <option [value]="'date'">Date</option>
      <option [value]="'title'">Title</option>
      <option class="tile_content tile_url" [value]="'category'">Category</option>
      <option class="tile_content tile_url" [value]="'author'">Author</option>
    </select>
    <div *ngIf="sortOpt['selectedOpt'] === 'date'" class="do_sort date_sort">
      <div *ngIf="sortOpt['isAsc']" (click)="doSort(false)" class='date_asc'>
        Oldest on top
        <img class="sort_image" src='/img/sort_up.png' />
      </div>
      <div *ngIf="!sortOpt['isAsc']" (click)="doSort(true)" class='date_desc'>
        Newest on top
        <img class="sort_image" src='/img/sort_down.png' />
      </div>
    </div>
    <div *ngIf="sortOpt['selectedOpt'] !== 'date'" class="do_sort text_sort">
      <div *ngIf="sortOpt['isAsc']" (click)="doSort(false)" class='text_asc'>
        A on top
        <img class="sort_image" src='/img/sort_up.png' />
      </div>
      <div *ngIf="!sortOpt['isAsc']" (click)="doSort(true)" class='text_desc'>
        Z on top
        <img class="sort_image" src='/img/sort_down.png' />
      </div>
    </div>
  </div>
  <div class='tiles_count_main'>
    <div class="tile-view-change">
      <img *ngIf="listType === 'list'" (click)="changeTileView('details')" src="/img/details.png" alt="" title="Details" />
      <img *ngIf="listType === 'details'" (click)="changeTileView('list')" src="/img/list.png" alt="" title="List" />
    </div>
    <div class='tiles_list_count'>
    </div>
  </div>
  <div id="main-tiles-container" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class='tiles_list_show_tiles'>
  <!--  <div style="overflow: hidden; width: 100%; float: left; height: 723px;" slimScroll [options]="opts"> -->
      <tiles (tileData)="getTileData($event)" [listType]="listType" [page]="page" [tile]="tile" *ngFor="let tile of (tiles | filterByText:'title':tileSearchText | orderBy:sortOpt['isAsc']:sortOpt['values'][sortOpt['selectedOpt']][0]: sortOpt['values'][sortOpt['selectedOpt']][1]); let i = index; trackBy: trackByIndex"></tiles>
   <!-- </div> -->
  </div>
</div>