/* Pages Container*/
.pages_container {
  height: 920px;
  position: relative;
}

/* Pages head */
.pages_head {
  width: 99.97%;
  height: 75px;
  float: left;
  margin-bottom: 1px;
  margin-left: 1px;
  position: relative;
}

.page_inputs {
  float: left;
  width: 70%
}

.tile_language {
  float: left;
  width: 231px;
  margin-left: 10px;
}

.app_page_title_box {
  float: left;
  margin-left: 3px;
  width: 212px;
  display: inline;
}

.app_box {
  float: left;
  margin-left: 10px;
  width: 231px;
  display: inline;
  margin-top: 7px;
}

.location_box {
  float: left;
  width: 212px;
  display: inline;
  margin-left: 3px;
  margin-top: 7px;
}

.page_field_inputs {
  float: left;
  width: 56%;
  margin-top: 8px;
}

.page_checks {
  float: left;
  width: 41%;
  margin-left: 4px;
}

.app_form_btns{
  float: right;
  width: 23%;
  margin-top: 11px;
}

 /* Page Buttons */
.page_new {
  border-bottom-color: #228B22;
  border-bottom-width: 3px;
  float: left;
  margin-right: 4px;
  margin-left: 27px;
}

.page_save {
  border-bottom-color: #1E90FF;
  border-bottom-width: 3px;
  float: left;
  margin-right: 4px;
}

.page_delete {
  border-bottom-color: #FF0000;
  border-bottom-width: 3px;
}

.page_setup {
  border-bottom-color: #FFA500;
  border-bottom-width: 3px;
  float: left;
  width: 91px;
  margin-top: 7px;
  margin-left: 27px;
}

.default_page_setup {
  border-bottom-color: #FFA500;
  border-bottom-width: 3px;
  float: left;
  width: 137px;
  margin-top: 7px;
  margin-left: 5px;
}

/* Pages Content Layout */
.pages_main_content {
  position: relative;
  width: 100%;
  height: 833px;
  float: left;
  margin-left: 1px;
}

/* Page Main */
.pages_text{
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  float: left;
  width: 170px;
}

.search_box_pages {
  width: 92%;
  display: inline;
}

.filter_page {
  margin-top: 5px;
  width: 84%;
  display: inline;
}

/* Pages Layout area */
.pages_block {
  width: 161px;
  height: 880px;
  text-align: center;
  position: relative;
  float: left;
}

/* Groups Contents */
.groups_text {
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  float: left;
  width: 168px; 
}

.search_box_tilist {
  width: 84%;
  display: inline;
  margin-left: 2px;
}

.tilist_type {
  margin-top: 5px;
  width: 84%;
  margin-left: 2px;
  display: inline;
}

.sort_group {
  margin-top: 5px;
  width: 84%;
  margin-left: 2px;
  display: inline;
}

.group-view-change {
  float: right;
  width: 100%;
}

.img-event-view-group {
  float: right;
  margin-top: 7px;
  margin-right: 13px;
  cursor: pointer;
}

.img-event-view-group.group-list-view {
  margin-right: 14px;
}

/* Dragged groups pages Layout */
.main_page_container {
  position: relative;
  width: 558px;
  height: 880px;
  float: left;
  margin-left: 1px;
  overflow: hidden;
}

/* Groups Layout */
.groups_block {
  width: 168px;
  height: 880px;
  text-align: center;
  position: relative;
  float: left;
  margin-left: 1px;
}