<div class="container events_container">
  <div class="page_block pages_head">
    <div class="page_inputs">
      <div class="page_field_inputs">
        <select [ngModel]="selectedLanguage" (ngModelChange)="languageChange($event)" class="form-control input-sm tile_language"
          placeholder="Select Language">
          <option *ngFor="let lang of languageList; let i = index" [value]="lang?.code">{{lang?.name}}</option>
        </select>
        <input [(ngModel)]="pageTitle" class="form-control input-sm app_page_title_box" type="text" placeholder="Page Title">
        <select [ngModel]="selectedApp" (ngModelChange)="appChange($event)" class="form-control input-sm app_box">
          <option *ngFor="let app of appList; let i = index" [value]="app?._id">{{app?.name}}</option>
        </select>
        <select [(ngModel)]="selectedLocation" class="form-control input-sm location_box">
          <option *ngFor="let loc of locationList; let i = index" [value]="loc?._id">{{loc?.name}}</option>
        </select>
      </div>
      <div class="page_checks">
        <div style="float:left; margin-top: 5px; padding-left: 5px; margin-bottom:0px; margin-right: 3px; min-height: 18px;" class="checkbox">
          <label>
            <input value="true" [(ngModel)]="noTabShow" style="margin-top: 2px;" type="checkbox" value="">Navigation tab disabled</label>
        </div>
        <div style="float:left; margin-top: 5px; padding-left: 5px;  margin-bottom:0px; min-height: 18px;" class="checkbox">
          <label>
            <input value="true" [(ngModel)]="randomOrder" style="margin-top: 2px;" type="checkbox" value="">Random Order</label>
        </div>
        <div style="float:left; margin-top: 5px; padding-left: 5px;  margin-bottom:0px; min-height: 18px;" class="checkbox">
          <label>
            <input value="true" [disabled]="(page.hasOwnProperty('dragged') && (page['dragged'].length > 1 || (page['dragged'].length === 1 && page['dragged'][0]['type'] === 'menu')))? true : false"
              [(ngModel)]="pageInDetail" style="margin-top: 2px;" type="checkbox" value="">Open straight to content</label>
        </div>
        <div style="float:left; margin-top: 5px; padding-left: 5px;  margin-bottom:0px; min-height: 18px;" class="checkbox">
          <label>
            <input value="true" [(ngModel)]="alphabeticalOrder" style="margin-top: 2px;" type="checkbox" value="">Alphabetical Order</label>
        </div>
        <div style="float:left; margin-top: 5px; padding-left: 5px; margin-bottom:0px; margin-right: 13px; min-height: 18px;" class="checkbox">
          <label>
            <input value="true" [(ngModel)]="hidden" style="margin-top: 2px;" type="checkbox" value="">Hide from main menu</label>
        </div>
        <div style="float:left; margin-top: 5px; padding-left: 6px;  margin-bottom:0px; min-height: 18px;" class="checkbox">
          <label>
            <input value="true" [(ngModel)]="livestreamOnTop" style="margin-top: 2px;" type="checkbox" value="">Live Stream On Top</label>
        </div>
      </div>
    </div>
    <div class="app_form_btns">
      <button (click)="newPage($event, true)" class="ili-btn page_new">
        New
      </button>
      <button (click)="savePage($event, true)" class="ili-btn page_save">
        Save
      </button>
      <button (click)="deletePage($event, true)" class="ili-btn page_delete">
        Delete
      </button>
      <button class="ili-btn page_setup">
        Page Setup
      </button>
      <button class="ili-btn default_page_setup">
        Default Page Setup
      </button>
    </div>
  </div>
  <div class="pages_main_content">
    <div class="page_block pages_block">
      <div class="pages_text">
        <span> Pages </span>
      </div>
      <input [(ngModel)]="pageSearchText" class="form-control input-sm search_box_pages" type="text" placeholder="Search Pages">
      <div id="main-container-pages" class="pages_list_show">
        <div (click)="selectPage($event, pg)" [ngClass]="page.hasOwnProperty('obj') && pg?._id === page.obj?._id ? 'page_list_single selected' : 'page_list_single'"
          [iliDraggable]="{data: pg, page: 'page'}" *ngFor="let pg of (pageList | filterByText:'pageTitle': pageSearchText | orderBy: true: 'position'); let i = index; trackBy: trackByIndex;">
          <div [title]="pg['pageTitle']" class="new_app_menu_page_label">
            {{ setPageTitle(pg) }}</div>
          <span *ngIf="pg['isNotification']" [title]="pg['tileNotifications']" class="step noteicon" aria-hidden="true">
            <i class="icon ion-android-notifications-none"></i>
          </span>
          <span *ngIf="pg['isSmart']" title="pg['tileSmart']" class='step smarticon' aria-hidden='true'>
            <i class='icon ion-lightbulb'></i>
          </span>
          <span *ngIf="pg['isRole']" title="pg['tileApps']" class="step smart smarticon">
            <i class="icon ion-android-person"></i>
          </span>
          <div *ngIf="pg.hasOwnProperty('_id')" class="app_page_up_down">
            <span (click)="pgMoveUpDown(pg, 'up', i)" class="glyphicon btn_page_up glyphicon-arrow-up"></span>
            <span (click)="pgMoveUpDown(pg, 'down', i)" class="glyphicon btn_page_down glyphicon-arrow-down"></span>
          </div>
        </div>
      </div>
    </div>
    <div id="dragged-pages-groups-tiles" class="page_block main_page_container">
      <div iliDropTarget (myDrop)="onDrop($event, false)" class="ili-panel main_page_drag_content drop_target">
        <div class="draggable_label">
          Drag a Tile, an Event or a Page
          <br>
          <br> into this space</div>
      </div>

      <div *ngFor="let dragObj of page!.dragged | reverse; let i = index; trackBy: trackByUniqueId" class="ili-panel page_content">
        <div *ngIf="!dragObj.hasOwnProperty('pageDragContainer')" class="page_main_panel">
          <div class="page_content_right">
            <div class="drag_buttons">
              <button class="trigger_btn" title="Add Icon and recommended size 200x200">
                <span class="glyphicon glyphicon-upload"></span>
              </button>
              <button (click)="addDraggable(i)" class="trigger_btn" title="Add Space">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button (click)="replicateDragged(dragObj)" class="trigger_btn" title="Replicate">
                <span class="glyphicon glyphicon-retweet"></span>
              </button>
              <button (click)="moveUpDown('up', i)" class="trigger_btn" title="MoveUp">
                <span class="glyphicon glyphicon-arrow-up"></span>
              </button>
              <button (click)="moveUpDown('down', i)" class="trigger_btn" title="MoveDown">
                <span class="glyphicon glyphicon-arrow-down"></span>
              </button>
              <button (click)="deleteDragged(dragObj, i)" class="trigger_btn" title="Remove">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button [ngClass]="dragObj['activate']? 'trigger_btn activate': 'trigger_btn deactivate'" (click)="draggedActivateDeactivate($event, dragObj)"
                class='trigger_btn' [title]="dragObj['activate']? 'Deactivate': 'Activate'">
                <span class='glyphicon glyphicon-off'></span>
              </button>
            </div>
            <div class="page_menu_item_dragged">
              <div *ngIf="dragObj['type'] === 'menu'" style="float: right; margin-right: 12px;" class="page_list_single">
                <div [title]="dragObj['obj']['pageTitle']" class="new_app_menu_page_label">
                  {{ setPageTitle(dragObj['obj']) }}</div>
                <span *ngIf="dragObj['obj']['isNotification']" [title]="dragObj['obj']['tileNotifications']" class="step noteicon" aria-hidden="true">
                  <i class="icon ion-android-notifications-none"></i>
                </span>
                <span *ngIf="dragObj['obj']['isSmart']" title="dragObj['obj']['tileSmart']" class='step smarticon' aria-hidden='true'>
                  <i class='icon ion-lightbulb'></i>
                </span>
                <span *ngIf="dragObj['obj']['isRole']" title="dragObj['obj']['tileApps']" class="step smart smarticon">
                  <i class="icon ion-android-person"></i>
                </span>
              </div>

              <div *ngIf="dragObj['type'] !== 'menu' && dragObj['type'] !== 'tile'" style="float: right; margin-right: 12px;" class="group_list_single">
                <div *ngIf="((dragObj['obj'].hasOwnProperty('art') && !utils.isNullOrEmpty(dragObj['obj']['art'])) && (dragObj['obj']['art'].indexOf('tile_default.jpg') || dragObj['obj']['art'].indexOf('tilist_art.jpg')))"
                  [ngClass]="groupType === 'list'? 'group-art' : 'group-art details'">
                  <img [ngClass]="groupType === 'list'? 'group_list_art' : 'group_list_art group-detail-content'" [src]="dragObj['obj']['art'] | safe">
                </div>
                <div [title]="dragObj['obj']?.name" class="group_list_title">{{getGroupName(dragObj['obj']?.name)}}</div>
                <div class="group-notify-icons">
                  <span *ngIf="dragObj['obj']['isNotification']" [title]="dragObj['obj']['tileNotifications']" class='step smart noteicon smarticon-groups'
                    aria-hidden="true">
                    <i class='icon ion-android-notifications-none'></i>
                  </span>
                  <span *ngIf="dragObj['obj']['isSmart']" title="dragObj['obj']['tileSmart']" class="step smart smarticon smarticon-groups">
                    <i class="icon ion-lightbulb"></i>
                  </span>
                  <span *ngIf="dragObj['obj']['isRole']" title="dragObj['obj']['tileApps']" class="step smart smarticon smarticon-groups">
                    <i class="icon ion-android-person"></i>
                  </span>
                </div>
              </div>

              <div *ngIf="dragObj['type'] === 'tile'" class="page_main_tile_block page_tiles_list_single">
                <img class="page_tile_list_art page-tile-content-img" [src]="dragObj['obj']?.art | safe">
                <div class="page_tile_list_title page-tile-content-title">{{dragObj['obj']?.title}}</div>
                <div *ngIf="!this.utils.isEmptyObject(dragObj['obj'])" class="page_tile_icons">
                  <span [title]="dragObj['obj']!.tileApps" [style.display]="dragObj['obj']!.isWgt" class="step weight"></span>
                  <span [title]="dragObj['obj']!.tileHealthStatusRules" [style.display]="dragObj['obj']!.isRules" class="step smart smarticon report-rule-tile">
                    <i class="icon ion-heart"></i>
                  </span>
                  <span [title]="dragObj['obj']!.tileProcedure" [style.display]="dragObj['obj']!.isProcedure" class="step smart smarticon smarticon-tile">
                    <i class="icon ion-medkit"></i>
                  </span>
                  <span [title]="dragObj['obj']!.tileSmart" [style.display]="dragObj['obj']!.isSmart" class="step smart smarticon smarticon-tile">
                    <i class="icon ion-lightbulb"></i>
                  </span>
                  <span [title]="dragObj['obj']!.tileNotifications" [style.display]="dragObj['obj']!.isNotification" class="step smart noteicon smarticon-tile"
                    aria-hidden="true">
                    <i class="icon ion-android-notifications-none"></i>
                  </span>
                  <span [title]="dragObj['obj']!.tileApps" [style.display]="dragObj['obj']!.isRole" class="step smart smarticon smarticon-tile">
                    <i class="icon ion-android-person"></i>
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="dragObj['type'] === 'event'" class="event_trigger_time">
              <p *ngIf="!utils.isNullOrEmpty(dragObj['availableDate'])" class="event_date">{{ "Event set to start on " + dragObj["availableDate"] + " at " + dragObj["availableTime"].toLowerCase() }}</p>
              <p *ngIf="!utils.isNullOrEmpty(dragObj['availableDate']) && !utils.isNullOrEmpty(dragObj['endDate'])" class="availabe_in_app">{{ "In-app " + dragObj["availableDate"] + " " + dragObj["availableTime"].toLowerCase() + " to " + dragObj["endDate"]
                + " " + dragObj["endTime"].toLowerCase()}}</p>
            </div>
          </div>
          <div class="page_content_left">
            <div class="menu_art">
              <label class="lbl-drg-menu"> {{dragObj?.menuName}} </label>
            </div>
            <div class="icon-img">
              <img class="menu_item_art img-v-align" [src]="dragObj['art'] | safe">
            </div>
            <div class="dragged-item-inputs">
              <div style="float:left; margin-top: 1px; padding-left: 5px; margin-bottom:0px; margin-right: 3px; min-height: 18px;" class="checkbox">
                <label>
                  <input value="true" [(ngModel)]="dragObj['showName']" style="margin-top: 2px;" type="checkbox" value="">Show Title</label>
              </div>
              <div style="float:left; margin-top: 5px; padding-left: 5px; margin-bottom:0px; margin-right: 3px; min-height: 18px;" class="checkbox">
                <label>
                  <input value="true" [(ngModel)]="dragObj['topSquare']" style="margin-top: 2px;" type="checkbox" value="">Double Width</label>
              </div>
              <div style="float:left; margin-top: 5px; padding-left: 5px; margin-bottom:0px; margin-right: 3px; min-height: 18px;" class="checkbox">
                <label>
                  <input value="true" [(ngModel)]="dragObj['orderFirst']" style="margin-top: 2px;" type="checkbox" value="">Top of Page</label>
              </div>
              <div style="float:left; margin-top: 5px; padding-left: 5px; margin-bottom:0px; margin-right: 3px; min-height: 18px;" class="checkbox">
                <label>
                  <input value="true" [(ngModel)]="dragObj['requiresPermission']" style="margin-top: 2px;" type="checkbox" value="">Requires Permission</label>
              </div>
              <div style="float:left; margin-top: 5px; padding-left: 5px; margin-bottom:0px; margin-right: 3px; min-height: 18px;" class="checkbox">
                <label>
                  <input value="true" [(ngModel)]="dragObj['isPrivate']" style="margin-top: 2px;" type="checkbox" value="">Role Based</label>
              </div>
            </div>
          </div>
        </div>
        <div iliDropTarget (myDrop)="onDrop($event, true)" *ngIf="dragObj.hasOwnProperty('pageDragContainer')" class="main_page_drag_content drop_target">
          <div class="draggable_label">
            Drag a Tile, an Event or a Page
            <br>
            <br> into this space</div>
        </div>
      </div>

    </div>

    <div class="page_block groups_block">
      <div class="groups_text">
        <span> Groups </span>
      </div>
      <input [(ngModel)]="groupFilter['groupSearch']" class="form-control input-sm search_box_tilist" type="text" placeholder="Search Groups"
      />
      <select [ngModel]="groupFilter['groupType']" (ngModelChange)="filterChange($event, 'groupType')" class="form-control input-sm tilist_type">
        <option [value]="'-1'">Show All Groups</option>
        <option [value]="'event'">Events</option>
        <option [value]="'tilist'">Folders</option>
        <option [value]="'catilist'">Categories</option>
        <option [value]="'livestream'">Live Stream</option>
        <option [value]="'procedure'">Procedure</option>
        <option [value]="'process'">Process</option>
      </select>

      <select [ngModel]="groupFilter['sort']['selected']" (ngModelChange)="filterChange($event, 'sort')" class="form-control input-sm sort_group">
        <option [value]="'date_desc'">Latest on top</option>
        <option [value]="'date_asc'">Oldest on top</option>
        <option [value]="'name_asc'">Name - A on top</option>
        <option [value]="'name_desc'">Name - Z on top</option>
      </select>

      <div class="group-view-change">
        <img class="img-event-view-group" *ngIf="groupType === 'list'" (click)="changeGroupView()" src="/img/details.png" alt=""
          title="Details" />
        <img class="img-event-view-group group-list-view" *ngIf="groupType === 'details'" (click)="changeGroupView()" src="/img/list.png"
          alt="" title="List" />
      </div>

      <div id="main-container-groups" class="groups_list_show ">
        <div class="group_list_single" [iliDraggable]="{data: grp, page: 'page'}" *ngFor="let grp of (groups | filterByText:'name': groupFilter['groupSearch'] | filterByText:'type': groupFilter['groupType'] | orderBy:groupFilter['sort']['isAsc']: groupFilter['sort']['fieldNames'][splitKey(groupFilter['sort']['selected'])][0]: groupFilter['sort']['fieldNames'][splitKey(groupFilter['sort']['selected'])][1]); let i = index; trackBy: trackByIndex">
          <div *ngIf="((grp.hasOwnProperty('art') && !utils.isNullOrEmpty(grp['art'])) && (grp['art'].indexOf('tile_default.jpg') || grp['art'].indexOf('tilist_art.jpg')))"
            [ngClass]="groupType === 'list'? 'group-art' : 'group-art details'">
            <img [ngClass]="groupType === 'list'? 'group_list_art' : 'group_list_art group-detail-content'" [src]="grp['art'] | safe">
          </div>
          <div [title]="grp?.name" class="group_list_title">{{getGroupName(grp?.name)}}</div>
          <div class="group-notify-icons">
            <span *ngIf="grp['isNotification']" [title]="grp['tileNotifications']" class='step smart noteicon smarticon-groups' aria-hidden="true">
              <i class='icon ion-android-notifications-none'></i>
            </span>
            <span *ngIf="grp['isSmart']" title="grp['tileSmart']" class="step smart smarticon smarticon-groups">
              <i class="icon ion-lightbulb"></i>
            </span>
            <span *ngIf="grp['isRole']" title="grp['tileApps']" class="step smart smarticon smarticon-groups">
              <i class="icon ion-android-person"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <tiles-list class="dragItem" (tileContent)="getTileContent($event)" [tilesToUpdate]="tilesToUpdate" [isMerge]="isMerge" [draggedTiles]="draggedTiles"
      [droppedTile]="droppedTile" [organizations]="organizations" [page]="'events'"></tiles-list>
  </div>
</div>