/* Pages Container*/

.pages_container {
  height: 920px;
  position: relative;
}

/* Pages head */

.pages_head {
  width: 99.97%;
  height: 75px;
  float: left;
  margin-bottom: 1px;
  margin-left: 1px;
  position: relative;
}

.page_inputs {
  float: left;
  width: 70%
}

.tile_language {
  float: left;
  width: 231px;
  margin-left: 10px;
}

.app_page_title_box {
  float: left;
  margin-left: 3px;
  width: 212px;
  display: inline;
}

.app_box {
  float: left;
  margin-left: 10px;
  width: 231px;
  display: inline;
  margin-top: 7px;
}

.location_box {
  float: left;
  width: 212px;
  display: inline;
  margin-left: 3px;
  margin-top: 7px;
}

.page_field_inputs {
  float: left;
  width: 56%;
  margin-top: 8px;
}

.page_checks {
  float: left;
  width: 41%;
  margin-left: 4px;
}

.app_form_btns {
  float: right;
  width: 23%;
  margin-top: 11px;
}

/* Page Buttons */

.page_new {
  border-bottom-color: #228B22;
  border-bottom-width: 3px;
  float: left;
  margin-right: 4px;
  margin-left: 27px;
}

.page_save {
  border-bottom-color: #1E90FF;
  border-bottom-width: 3px;
  float: left;
  margin-right: 4px;
}

.page_delete {
  border-bottom-color: #FF0000;
  border-bottom-width: 3px;
}

.page_setup {
  border-bottom-color: #FFA500;
  border-bottom-width: 3px;
  float: left;
  width: 91px;
  margin-top: 7px;
  margin-left: 27px;
}

.default_page_setup {
  border-bottom-color: #FFA500;
  border-bottom-width: 3px;
  float: left;
  width: 137px;
  margin-top: 7px;
  margin-left: 5px;
}

/* Pages Content Layout */

.pages_main_content {
  position: relative;
  width: 100%;
  height: 833px;
  float: left;
  margin-left: 1px;
}

/* Page Main */

.pages_text {
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  float: left;
  width: 170px;
}

.search_box_pages {
  width: 92%;
  display: inline;
}

.filter_page {
  margin-top: 5px;
  width: 84%;
  display: inline;
}

/* Pages Layout area */

.pages_block {
  width: 161px;
  height: 880px;
  text-align: center;
  position: relative;
  float: left;
}

.pages_list_show {
  float: left;
  width: 150px;
  height: 811px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 4px;
}

.app_page_up_down {
  cursor: pointer;
  right: 0px;
  position: absolute;
  display: none;
}

.page_list_single {
  border: 1px solid rgb(138, 153, 162);
  box-shadow: 0px 0px 0px rgb(138, 153, 162);
  margin-left: 1px;
  width: 150px;
  height: 40px;
  margin-bottom: 4px;
  margin-top: 1px;
  background-color: #ffffff;
  color: #4a4a4a;
  cursor: pointer;
}

.page_list_single:hover {
  background-color: #F2F2F2;
}

.page_list_single.selected {
  background-color: #3c3c3c;
  color: #ffffff;
}

.page_list_single:hover>.app_page_up_down {
  display: block;
}

.new_app_menu_page_label {
  font-size: 11px;
  float: left;
  margin-top: 10px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px;
}

.btn_page_up {
  font-size: 12px;
}

.btn_page_down {
  font-size: 12px;
}

/* Dragged groups pages Layout */

.main_page_container {
  position: relative;
  width: 587px;
  height: 880px;
  float: left;
  margin-left: 1px;
  overflow: hidden;
}

.main_page_drag_content {
  position: relative;
  padding-bottom: 1px;
  margin-top: 9px;
  margin-left: 5px;
  min-height: 150px;
  width: 569px;
  padding-top: 10px;
  margin-bottom: 2px;
  border-color: #ddd;
}

.draggable_label {
  font-size: 11px;
  margin-top: 40px;
  color: #FFFFFF;
  text-align: center;
}

.page_content {
  position: relative;
  padding-bottom: 1px;
  margin-top: 9px;
  margin-left: 5px;
  min-height: 150px;
  width: 569px;
  padding-top: 10px;
  margin-bottom: 2px;
  border-color: #ddd;
  float: left;
}

.page_content_right {
  width: 50%;
  float: right;
  height: 150px;
}

.page_content_left {
  width: 50%;
  float: right;
  height: 150px;
}

.trigger_btn {
  margin-right: 1px;
  color: #000000;
  border: 1px solid #A9A9A9;
}

.trigger_btn.activate {
  background-color: rgba(255, 0, 0, 0.99);
  color: #FFFFFF;
  font-weight: bolder;
  border: 1px solid #9a0200;
}

.activate:hover {
  color: #F2F2F2;
  background-color: #9a0200;
}

.trigger_btn.deactivate {
  background-color: rgba(0, 128, 0, 0.91);
  color: #FFFFFF;
  font-weight: bolder;
  border: 1px solid #2e8a19;
}

.deactivate:hover {
  color: #F2F2F2;
  background-color: #2e8a19;
}

.drag_buttons {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  text-align: right;
  float: right;
  padding-right: 7px;
}

.menu_art {
  float: left;
  width: 100%;
}

.tile_menu_name {
  width: 250px;
  border: 0;
  outline: none;
  outline-offset: 0;
}

.icon-img {
  float: left;
  height: 98px;
  width: 98px;
  text-align: center;
  border: 1px solid #D0CBCB;
  margin-top: 2px;
  margin-left: 6px;
}

.menu_item_art {
  max-width: 96px;
  max-height: 96px;
}

.img-v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.lbl-drg-menu {
  float: left;
  margin-left: 8px;
  text-overflow: ellipsis;
}

.dragged-item-inputs {
  float: left;
  width: 155px;
  height: 129px;
  margin-left: 12px;
}

.page_main_panel {
  position: relative;
  float: left;
  width: 100%;
}

.page_menu_item_dragged {
  float: right;
  width: 100%;
}

.page_main_tile_block {
  background-color: #FFFFFF;
  border-radius: 0px;
  margin-top: 12px;
}

.page_tiles_list_single {
  float: right;
  position: relative;
  text-align: left;
  margin-right: 9px;
  margin-bottom: 4px;
  width: 256px;
  max-height: 58px;
  padding-bottom: 2px;
  color: #000000;
  border: 2px outset rgba(255, 255, 255, .5);
}

.page_tile_list_art {
  max-width: 240px;
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 4px;
  float: left;
}

.page_tile_list_art.page-tile-content-img {
  max-width: 30px;
  max-height: 25px;
  margin-top: 3px;
}

.page_tile_list_title {
  float: left;
  width: 235px;
  margin-top: 2px;
  margin-left: 5px;
  font-size: 11px;
  text-align: justify;
  word-wrap: break-word;
}

.page_tile_list_title.page-tile-content-title {
  width: 200px;
}

/* Tile Icons */

.page_tile_icons {
  position: relative;
  right: 0;
  bottom: 2px;
  width: 100%;
  float: right;
}

.event_trigger_time {
  float: right;
  width: 100%;
  font-size: 11px;
  margin-top: 17px;
}

.event_trigger_time>.event_date {
  margin-bottom: 2px;
}

.event_trigger_time>.availabe_in_app {
  margin-bottom: 1px;
}

/* Groups Layout */

.groups_block {
  width: 168px;
  height: 880px;
  text-align: center;
  position: relative;
  float: left;
  margin-left: 1px;
}

/* Groups Contents */

.groups_list_show {
  position: relative;
  margin-top: 6px;
  float: left;
  width: 100%;
  height: 736px;
  overflow: hidden;
  text-align: center;
}

.groups_text {
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  float: left;
  width: 168px;
}

.search_box_tilist {
  width: 84%;
  display: inline;
  margin-left: 2px;
}

.tilist_type {
  margin-top: 5px;
  width: 84%;
  margin-left: 2px;
  display: inline;
}

.sort_group {
  margin-top: 5px;
  width: 84%;
  margin-left: 2px;
  display: inline;
}

.group-view-change {
  float: left;
  margin-left: 14px;
}

.img-event-view-group {
  float: right;
  margin-top: 7px;
  margin-right: 13px;
  cursor: pointer;
}

.img-event-view-group.group-list-view {
  margin-right: 14px;
}

.group_list_single {
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 15px;
  margin-bottom: 4px;
  background-color: #FFFFFF;
  text-align: left;
  width: 138px;
  min-height: 42px;
  color: #000000;
  cursor: move;
  border: 1px outset #F2F2F2;
}

.group_list_single:hover {
  background-color: #F2F2F2;
}

.group-art {
  width: 20%;
  float: left;
  text-align: left;
  margin-left: 2px
}

.group-art.details {
  width: 100%;
  display: flex;
  justify-content: center;
}

.group_list_art {
  float: left;
  max-width: 30px;
  max-height: 25px;
  margin-top: 3px;
  text-align: center;
}

.group_list_art.group-detail-content {
  max-width: 110px;
  max-height: 110px;
}

.group_list_title {
  float: left;
  margin-top: 3px;
  margin-left: 8px;
  width: 98px;
  font-size: 11px;
  text-align: left;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.group-notify-icons {
  width: 100%;
  float: right;
}