<div class="modal fade" bsModal #recurrencePopup="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="recurrence"
  aria-hidden="true" (onHide)="onHide($event)">
  <div class="modal-dialog menu-bg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bg-title pull-left">Recurrence</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body menu-bg-body">
        <div id="rirtemplate">
          <label for="repeatrtemplate" class="label"> Repeats: </label>
          <select id="rirtemplate" name="rirtemplate" class="field">
            <option value="daily">Daily </option>
            <option value="mondayfriday">Monday and Friday </option>
            <option value="weekdays">Weekday </option>
            <option value="weekly">Weekly </option>
            <option value="monthly">Monthly </option>
            <option value="yearly">Yearly </option>
          </select>
          <div>
            <div id="riformfields">
              <div id="ridailyinterval" class="rifield" style="display: block;">
                <label for="repeatdailyinterval" class="label"> Repeat every: </label>
                <div class="field">
                  <input type="text" size="2" value="1" name="ridailyinterval" id="repeatdailyinterval"> days </div>
              </div>
              <div id="riweeklyinterval" class="rifield" style="display: none;">
                <label for="repeatweeklyinterval" class="label"> Repeat every: </label>
                <div class="field">
                  <input type="text" size="2" value="1" name="riweeklyinterval" id="repeatweeklyinterval"> week(s) </div>
              </div>
              <div id="riweeklyweekdays" class="rifield" style="display: none;">
                <label for="repeatweeklyinterval" class="label">Repeat on:</label>
                <div class="field">
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysSU" id="repeatweeklyWeekdaysSU" value="SU">
                    <label for="repeatweeklyWeekdaysSU">Sun</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysMO" id="repeatweeklyWeekdaysMO" value="MO">
                    <label for="repeatweeklyWeekdaysMO">Mon</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysTU" id="repeatweeklyWeekdaysTU" value="TU">
                    <label for="repeatweeklyWeekdaysTU">Tue</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysWE" id="repeatweeklyWeekdaysWE" value="WE">
                    <label for="repeatweeklyWeekdaysWE">Wed</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysTH" id="repeatweeklyWeekdaysTH" value="TH">
                    <label for="repeatweeklyWeekdaysTH">Thu</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysFR" id="repeatweeklyWeekdaysFR" value="FR">
                    <label for="repeatweeklyWeekdaysFR">Fri</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysSA" id="repeatweeklyWeekdaysSA" value="SA">
                    <label for="repeatweeklyWeekdaysSA">Sat</label>
                  </div>
                </div>
              </div>
              <div id="rimonthlyinterval" class="rifield" style="display: none;">
                <label for="rimonthlyinterval" class="label">Repeat every:</label>
                <div class="field">
                  <input type="text" size="2" value="1" name="rimonthlyinterval"> month(s) </div>
              </div>
              <div id="rimonthlyoptions" class="rifield" style="display: none;">
                <label for="rimonthlytype" class="label">Repeat on:</label>
                <div class="field">
                  <div>
                    <input type="radio" value="DAYOFMONTH" name="rimonthlytype" id="repeatmonthlytype:DAYOFMONTH">
                    <label for="repeatmonthlytype:DAYOFMONTH"> Day </label>
                    <select name="rimonthlydayofmonthday" id="repeatmonthlydayofmonthday">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select> of the month </div>
                  <div>
                    <input type="radio" value="WEEKDAYOFMONTH" name="rimonthlytype" id="repeatmonthlytype:WEEKDAYOFMONTH">
                    <label for="repeatmonthlytype:WEEKDAYOFMONTH"> The </label>
                    <select name="rimonthlyweekdayofmonthindex">
                      <option value="+1">first</option>
                      <option value="+2">second</option>
                      <option value="+3">third</option>
                      <option value="+4">fourth</option>
                      <option value="-1">last</option>
                    </select>
                    <select name="rimonthlyweekdayofmonth">
                      <option value="SU">Sunday</option>
                      <option value="MO">Monday</option>
                      <option value="TU">Tuesday</option>
                      <option value="WE">Wednesday</option>
                      <option value="TH">Thursday</option>
                      <option value="FR">Friday</option>
                      <option value="SA">Saturday</option>
                    </select> of the month </div>
                </div>
              </div>
              <div id="riyearlyinterval" class="rifield" style="display: none;">
                <label for="riyearlyinterval" class="label">Repeat every:</label>
                <div class="field">
                  <input type="text" size="2" value="1" name="riyearlyinterval"> year(s) </div>
              </div>
              <div id="riyearlyoptions" class="rifield" style="display: none;">
                <label for="riyearlyType" class="label">Repeat on:</label>
                <div class="field">
                  <div>
                    <input type="radio" value="DAYOFMONTH" name="riyearlyType" id="repeatyearlytype:DAYOFMONTH">
                    <label for="repeatyearlytype:DAYOFMONTH"> Every </label>
                    <select name="riyearlydayofmonthmonth">
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <select name="riyearlydayofmonthday">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                  </div>
                  <div>
                    <input type="radio" value="WEEKDAYOFMONTH" name="riyearlyType" id="repeatyearlytype:WEEKDAYOFMONTH">
                    <label for="repeatyearlytype:WEEKDAYOFMONTH"> The </label>
                    <select name="riyearlyweekdayofmonthindex">
                      <option value="+1">first</option>
                      <option value="+2">second</option>
                      <option value="+3">third</option>
                      <option value="+4">fourth</option>
                      <option value="-1">last</option>
                    </select>
                    <label for="repeatyearlytype:WEEKDAYOFMONTH"> </label>
                    <select name="riyearlyweekdayofmonthday">
                      <option value="SU">Sunday</option>
                      <option value="MO">Monday</option>
                      <option value="TU">Tuesday</option>
                      <option value="WE">Wednesday</option>
                      <option value="TH">Thursday</option>
                      <option value="FR">Friday</option>
                      <option value="SA">Saturday</option>
                    </select> of
                    <select name="riyearlyweekdayofmonthmonth">
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                </div>
              </div>
              <div id="rirangeoptions" class="rifield" style="display: block;">
                <label class="label">End recurrence:</label>
                <div class="field">
                  <div>
                    <input type="radio" value="NOENDDATE" name="rirangetype" id="repeatrangetype:NOENDDATE">
                    <label for="repeatrangetype:NOENDDATE"> Never </label>
                  </div>
                  <div>
                    <input type="radio" checked="checked" value="BYOCCURRENCES" name="rirangetype" id="repeatrangetype:BYOCCURRENCES">
                    <label for="repeatrangetype:BYOCCURRENCES"> After </label>
                    <input type="text" size="3" value="7" name="rirangebyoccurrencesvalue"> occurrence(s) </div>
                  <div>
                    <input type="radio" value="BYENDDATE" name="rirangetype" id="repeatrangetype:BYENDDATE">
                    <label for="repeatrangetype:BYENDDATE"> On </label>
                    <input type="text" data-orig-type="date" name="rirangebyenddatecalendar" class="date"> </div>
                </div>
              </div>
            </div>
            <div class="rioccurrencesactions" style="display: none;">
              <div class="rioccurancesheader">
                <h2>Selected dates</h2>
                <span class="refreshbutton action">
                  <a class="rirefreshbutton" href="#" title="Refresh"> Refresh </a>
                </span>
              </div>
            </div>
            <div class="rioccurrences"> </div>
            <div class="rioccurrencesactions" style="display: none;">
              <div class="rioccurancesheader">
                <h2>Add date</h2>
              </div>
              <div class="riaddoccurrence">
                <div class="errorarea" style="display: none;"></div>
                <input type="text" data-orig-type="date" name="adddate" id="adddate" class="date">
                <input type="button" name="addaction" id="addaction" value="Add"> </div>
            </div>
            <div class="ributtons">
              <input type="submit" class="ricancelbutton " value="Cancel">
              <input type="submit" class="risavebutton " value="Save"> </div>
          </div>
        </div>
        <div class="save-bg-btn">
          <button (click)="done($event)" class="btn btn-warning btn-xs bg-save">Save</button>
        </div>
      </div>
    </div>
  </div>