<div class="modal fade" bsModal #recurrencePopup="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="recurrence"
  aria-hidden="true" (onHide)="onHide($event)">
  <div class="modal-dialog menu-bg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bg-title pull-left">Recurrence </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body menu-bg-body">
        <div class="riform">
          <form>
            <div style="float:left;height:30px;">
              <label for="repeatrtemplate" class="label"> Repeats: </label>
              <select [ngModel]="recurrenceType" (ngModelChange)="recurrenceChange($event)" id="rirtemplate" name="rirtemplate" class="form-control input-sm field">
                <option value="minutely">Minutely </option>
                <option value="hourly">Hourly </option>
                <option value="daily">Daily </option>
                <option value="weekly">Weekly </option>
                <option value="monthly">Monthly </option>
                <option value="yearly">Yearly </option>
              </select>
            </div>
            <div id="riformfields">
              <div *ngIf="recurrenceType === 'minutely'" id="riminutelyinterval" class="rifield riminutelyintervel"> <label
                  for="minutelyinterval" class="label">
                  Every: </label> <div class="field"> <input type="text" style="float: left;  width: 60px;  margin-right: 5px;"
                    class="form-control input-sm " size="2" value="1" name="riminutelyinterval" id="minutelyinterval"> <span
                    style="float:left">Minute(s)</span> </div>
              </div>

              <div *ngIf="recurrenceType === 'hourly'" id="rihourlyinterval" class="rifield rihourlyintervel"> <label for="hourlyinterval"
                  class="label">
                  Every: </label> <div class="field"> <input type="text" style="float: left;  width: 60px;  margin-right: 5px;"
                    class="form-control input-sm " size="2" value="1" name="rihourlyinterval" id="hourlyinterval"> <span style="float:left">Hour(s)</span>
                </div>
              </div>

              <div *ngIf="recurrenceType === 'daily'" id="ridailyinterval" class="rifield ridailyintervel" style="display: block;">
                <label for="repeatdailyinterval" class="label"> Repeat every: </label>
                <div class="field">
                  <input type="text" size="2" class="ili-form" value="1" name="ridailyinterval" id="repeatdailyinterval">                  days
                </div>
              </div>

              <div *ngIf="recurrenceType === 'weekly'" id="riweeklyinterval" class="rifield riweeklyintervel">
                <label for="repeatweeklyinterval" class="label"> Repeat every: </label>
                <div class="field">
                  <input type="text" style="float: left;  width: 60px;  margin-right: 5px;" size="2" class="ili-form" value="1" name="riweeklyinterval"
                    id="repeatweeklyinterval"> week(s)
                </div>
              </div>

              <div *ngIf="recurrenceType === 'monthly'" id="rimonthlyinterval" class="rifield rimonthlyintervel">
                <label for="rimonthlyinterval" class="label">Repeat every:
                </label>
                <div class="field">
                  <input type="text" size="2" style="float: left;  width: 60px;  margin-right: 5px;" class="ili-form" value="1" name="rimonthlyinterval">                  month(s)
                </div>
              </div>

              <div *ngIf="recurrenceType === 'yearly'" id="riyearlyinterval" class="rifield riyearlyintervel">
                <label for="riyearlyinterval" class="label">Repeat every:</label>
                <div class="field">
                  <input style="float:left; width:50px;margin-right:5px;" type="text" class="ili-form" size="2" value="1" name="riyearlyinterval">                  year(s)
                </div>
              </div>

              <div *ngIf="recurrenceType === 'weekly'" id="riweeklyweekdays" class="rifield riweeklyweekdays">
                <label for="repeatweeklyinterval" style="margin-top: 10px;" class="label">Repeat on:</label>
                <div class="field">
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysSU" id="repeatweeklyWeekdaysSU" value="SU">
                    <label for="repeatweeklyWeekdaysSU">Sun</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysMO" id="repeatweeklyWeekdaysMO" value="MO">
                    <label for="repeatweeklyWeekdaysMO">Mon</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysTU" id="repeatweeklyWeekdaysTU" value="TU">
                    <label for="repeatweeklyWeekdaysTU">Tue</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysWE" id="repeatweeklyWeekdaysWE" value="WE">
                    <label for="repeatweeklyWeekdaysWE">Wed</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysTH" id="repeatweeklyWeekdaysTH" value="TH">
                    <label for="repeatweeklyWeekdaysTH">Thu</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysFR" id="repeatweeklyWeekdaysFR" value="FR">
                    <label for="repeatweeklyWeekdaysFR">Fri</label>
                  </div>
                  <div class="riweeklyweekday">
                    <input type="checkbox" name="riweeklyweekdaysSA" id="repeatweeklyWeekdaysSA" value="SA">
                    <label for="repeatweeklyWeekdaysSA">Sat</label>
                  </div>
                </div>
              </div>

              <div *ngIf="recurrenceType === 'monthly'" id="rimonthlyoptions" class="rifield rimonthlyoptions">
                <label for="rimonthlytype" class="label">Repeat on:</label>
                <div class="field" style="float: left;width: 400px;">
                  <div style="float:left; width:400px;">
                    <input style="float:left; margin-right:5px; margin-top:5px;" type="radio" value="DAYOFMONTH" name="rimonthlytype" id="repeatmonthlytype:DAYOFMONTH">
                    <label style="float:left;" for="repeatmonthlytype:DAYOFMONTH"> Day </label>
                    <select style="float:left; margin-left:5px; margin-right:5px; width:50px;" name="rimonthlydayofmonthday" class="form-control input-sm"
                      id="repeatmonthlydayofmonthday">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select><span style="float:left">of the month</span> </div>
                  <div style="float:left; width:400px;">
                    <input style="float:left; margin-right:5px; margin-top: 5px;" type="radio" value="WEEKDAYOFMONTH" name="rimonthlytype" id="repeatmonthlytype:WEEKDAYOFMONTH">
                    <label style="float:left;" for="repeatmonthlytype:WEEKDAYOFMONTH"> The </label>
                    <select style="float:left; width:80px;margin-left:5px; margin-right:5px;" class="form-control input-sm" name="rimonthlyweekdayofmonthindex">
                      <option value="+1">first</option>
                      <option value="+2">second</option>
                      <option value="+3">third</option>
                      <option value="+4">fourth</option>
                      <option value="-1">last</option>
                    </select>
                    <select style="float:left; width:80px;margin-left:5px; margin-right:5px;" class="form-control input-sm" name="rimonthlyweekdayofmonth">
                      <option value="SU">Sunday</option>
                      <option value="MO">Monday</option>
                      <option value="TU">Tuesday</option>
                      <option value="WE">Wednesday</option>
                      <option value="TH">Thursday</option>
                      <option value="FR">Friday</option>
                      <option value="SA">Saturday</option>
                    </select> <span style="float:left">of the month</span> </div>
                </div>
              </div>

              <div *ngIf="recurrenceType === 'yearly'" id="riyearlyoptions" class="rifield riyearlyoptions">
                <label for="riyearlyType" class="label">Repeat on:</label>
                <div class="field" style="float: left;width: 400px;">
                  <div style="float:left; width:400px;">
                    <input style="float:left;margin-right:5px;margin-top: 5px;" type="radio" value="DAYOFMONTH" name="riyearlyType" id="repeatyearlytype:DAYOFMONTH">
                    <label style="float:left;" for="repeatyearlytype:DAYOFMONTH"> Every </label>
                    <select style="float:left; width:80px;margin-left:5px; margin-right:5px;" class="form-control input-sm" name="riyearlydayofmonthmonth">
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <select style="float:left; width:80px; margin-right:5px;" class="form-control input-sm" name="riyearlydayofmonthday">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                  </div>
                  <div style="float:left; width:400px;">
                    <input style="float:left;margin-right:5px;margin-top: 5px;" type="radio" value="WEEKDAYOFMONTH" name="riyearlyType" id="repeatyearlytype:WEEKDAYOFMONTH">
                    <label style="float:left;" for="repeatyearlytype:WEEKDAYOFMONTH"> The </label>
                    <select style="float:left; width:80px;margin-left:5px; margin-right:5px;" class="form-control input-sm" name="riyearlyweekdayofmonthindex">
                      <option value="+1">first</option>
                      <option value="+2">second</option>
                      <option value="+3">third</option>
                      <option value="+4">fourth</option>
                      <option value="-1">last</option>
                    </select>
                    <label style="float:left;" for="repeatyearlytype:WEEKDAYOFMONTH"> </label>
                    <select style="float:left; width:80px;margin-left:5px; margin-right:5px;" class="form-control input-sm" name="riyearlyweekdayofmonthday">
                      <option value="SU">Sunday</option>
                      <option value="MO">Monday</option>
                      <option value="TU">Tuesday</option>
                      <option value="WE">Wednesday</option>
                      <option value="TH">Thursday</option>
                      <option value="FR">Friday</option>
                      <option value="SA">Saturday</option>
                    </select> <span style="float:left;">of</span>
                    <select style="float:left; width:80px;margin-left:5px; margin-right:5px;" class="form-control input-sm" name="riyearlyweekdayofmonthmonth">
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                </div>
              </div>

              <div id="rirangeoptions" class="rifield rirangeoptions" style="display: block;">
                <label class="label">End recurrence:</label>
                <div class="field" style="float:left; width:400px;">
                  <div style="float:left; width:400px;">
                    <input type="radio" style="float:left;margin-right:5px;margin-top: 5px;" value="NOENDDATE" name="rirangetype" id="repeatrangetype:NOENDDATE">
                    <label for="repeatrangetype:NOENDDATE"> Never </label>
                  </div>
                  <div style="float:left;margin-bottom: 5px; width:400px;">
                    <div style="float: left;">
                      <input type="radio" style="float:left;margin-right:5px;margin-top: 5px;" checked="checked" value="BYOCCURRENCES" name="rirangetype"
                        id="repeatrangetype:BYOCCURRENCES">
                      <label for="repeatrangetype:BYOCCURRENCES"> After </label></div>
                    <input style="float:left; margin-left:4px;margin-right:4px; width:37px;" type="text" size="3" class="ili-form" value="7"
                      name="rirangebyoccurrencesvalue"> occurrence(s)
                  </div>
                  <div style="float:left; width:400px;">
                    <div style="float:left;"><input type="radio" style="float:left;margin-right:5px;margin-top: 5px;" value="BYENDDATE"
                        name="rirangetype" id="repeatrangetype:BYENDDATE">
                      <label for="repeatrangetype:BYENDDATE"> On </label></div>
                    <input style="float:left;margin-left:4px;margin-right:4px; width:125px;" type="text" data-orig-type="date" name="rirangebyenddatecalendar"
                      class="ili-form date"> </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="ributtons">
          <input (onclick)="cancel($event)" type="submit" class="btn btn-xs btn-danger riexitbutton " value="Cancel" />
          <input (onclick)="done($event)" type="submit" class="btn btn-xs btn-info risavebutton " value="Ok" />
        </div>

      </div>
    </div>
  </div>
</div>