/*Private access Container*/

.private_access_container {
  height: 920px;
  position: relative;
}

.lbl_select_app {
  color: #cecece;
  font-size: 12px;
  float: left;
  margin-top: 14px;
  margin-right: 5px;
}

.apps_private_access {
  float: left;
  min-height: 22px;
  width: 230px;
  margin-top: 10px;
}

.lbl_private_access_branch {
  color: #cecece;
  font-size: 12px;
  float: left;
  margin-top: 14px;
  margin-right: 5px;
  margin-left: 5px;
}

.location_private_access {
  margin-top: 10px;
  float: left;
  min-height: 22px;
  width: 200px;
}

.file-import {
  float: left;
  position: relative;
  margin-left: 0px;
}

.member_upload {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 90px;
}

.csv-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.csv-wrapper input {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  filter: alpha(opacity=1);
  opacity: 0.01;
  -moz-opacity: 0.01;
  cursor: pointer;
}

.csv-wrapper .button {
  margin-bottom: 5px;
  border: 1px solid #D3D3D3;
  color: #030303;
  background: #E2E2E2;
  padding: 2.5px 8px;
  margin-right: 4px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  display: inline-block;
  cursor: pointer;
}

.member_import {
  margin-top: 10px;
  float: left;
  width: 110px;
  border-radius: 0px;
  height: 24px;
}

.members-count {
  float: right;
  position: relative;
  margin: 17px 0 0 0;
  color: #FFF;
}

.head_private_access {
  margin-left: 0px;
  width: 100%;
}

.main_access_squares {
  margin-top: 0px;
  margin-left: 2px;
  width: 470px;
  float: left;
  margin-bottom: 0px;
}

.private_access_main {
  float: left;
  margin-bottom: 5px;
}

.squares_main {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
}

.users_main {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
}

.user-form-body {
  min-height: 450px;
}

.lbl_mem_title {
  color: #000000;
}

.mem_form_input {
  width: 96%;
  height: 25px;
  border-radius: 0px;
  font-size: 11px;
  box-shadow: 0 0 black;
}

.mem_select {
  height: 29px;
}

.validator_error_names {
  color: #FF0000;
  width: 96%;
  font-size: 10px;
  font-style: inherit;
}

.lbl_mem_check {
  color: #666;
  font-size: 11px;
  margin-left: 6px;
}

input[type=checkbox].validator_error_check {
  float: left;
  margin-top: 2px;
}

.member-profile-image {
  float: right;
  margin: -38px 50px 0px 0px;
}

.import_csv {
  width: 20px;
  height: 20px;
  float: left;
  margin: 13px 0 0 16px;
  cursor: pointer;
}