<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/ui-darkness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/js/jqgrid/src/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" href="/js/jqgrid/src/css/ui.jqgrid-bootstarp.css" />
<!--- <link rel="stylesheet" type="text/css" href="/css/jqgrid_ui.css" /> -->
<link rel="stylesheet" type="text/css" href="/css/private_access.css" />


<div class="container private_access_container">
  <div class="row head_private_access">
    <label class="lbl_select_app">Select App :</label>
    <select [ngModel]="selectedApp" (ngModelChange)="appChange($event)" class="form-control input-sm apps_private_access">
      <option [value]="'-1'" disabled>Select App</option>
      <option *ngFor="let app of appList; let i= index" [value]="app?._id ">{{app?.name}}</option>
    </select>

    <label class="lbl_private_access_branch">Branch or Location:</label>
    <select [ngModel]="selectedLocation" (ngModelChange)="locationChange($event)" class="form-control input-sm location_private_access">
      <option [value]="'-1'" disabled>Select Location</option>
      <option *ngFor="let loc of locationsList; let i= index" [value]="loc?._id ">{{loc?.name}}</option>
    </select>

    <div class="file-import">
      <div class="member_upload">
        <div class="csv-wrapper">
          <input type="file" name="fileUpload" (change)="getFileName($event.target.files)" id="fileUpload">
          <span class="button">Browse files</span>
        </div>

        <!-- <span id="fileName"></span>  -->
      </div>

      <button class="btn-xs btn-info member_import">
        Import End Users
      </button>

      <!--   <a href="#" title="Download sample import member file" class="import-csv"></a>    -->
      <img (click)="importCsv($event)" title="Download sample import member file" src="/img/excel.png" alt="User Excel Download" class="import_csv" />
    </div>

    <div class="members-count">
      <span style="margin-right: 4px">Total No. of Downloads:</span>
      <span> {{ memberCount }} </span>
    </div>
  </div>

  <div class="main_access_squares">
    <div class="private_access_main">
      <div id="private-access-pager"></div>
      <table id="private-access"></table>
    </div>
    <div class="squares_main">
      <div id="squares-pager"></div>
      <table id="squares"></table>
    </div>
  </div>
  <div class="users_main">
    <div id="users-grid-pager"></div>
    <table id="users-grid"></table>
  </div>
</div>

<ng-template #userForm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{formTitle}}</h4>
    <div *ngIf="profileImage.isShow" class="member-profile-image">
      <img [src]="profileImage.src" alt="Profile Image" height="53" width="50">
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="userFormRef.hide('new')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body user-form-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form [formGroup]="memberForm">
            <div *ngFor="let memField of profileFields; let i= index; trackBy: trackByIndex" class="form-group">
              <div *ngIf="memField['type'] === 'check'">
                <input type="checkbox" class="validator_error_check" [formControlName]="memField['formFieldName']">
                <label [for]="memField['formFieldName']" class="lbl_mem_check">{{memField['name']}}</label>
                <div *ngIf="memberFormSubmitted && formDetails[memField['formFieldName']].errors" class="alert alert-danger invalid-feedback validator_error_names">
                  <div *ngIf="formDetails[memField['formFieldName']].invalid">{{ "Please check " + memField['name'] }}
                  </div>
                </div>
              </div>
              <div *ngIf="memField['type'] === 'text' || memField['type'] === 'password' || memField['type'] === 'email' || memField['type'] === 'date' || memField['type'] === 'number' || memField['type'] === 'custom'">
                <!-- <label class="lbl_mem_title">{{memField['name']}}</label> -->
                <input (focus)="changeToDate($event, memField['type'], true)" (focusout)="changeToDate($event, memField['type'], false)"
                  [placeholder]="memField['required']?'*' + memField['name']: memField['name']" [attr.type]="memField['formFieldName'] ==='password'? 'password': memField['type'] === 'date'? 'text': memField['type']"
                  [formControlName]="memField['formFieldName']" class="form-control mem_form_input" [ngClass]="{ 'is-invalid': memberFormSubmitted && formDetails[memField['formFieldName']].errors }" />
                <div *ngIf="memberFormSubmitted && formDetails[memField['formFieldName']].errors" class="alert alert-danger invalid-feedback validator_error_names">
                  <div *ngIf="formDetails[memField['formFieldName']].errors.required">{{memField['name'] + " is
                    required"}}</div>
                  <div *ngIf="memberFormSubmitted && memField['formFieldName'] === 'email' && formDetails[memField['formFieldName']].errors.email">{{
                    memField['name'] + " must be a valid email address" }}</div>
                  <div *ngIf="memberFormSubmitted && memField['formFieldName'] === 'password' && formDetails[memField['formFieldName']].errors.minlength">{{
                    memField['name'] + " must be at least 6 characters"}}</div>
                  <div *ngIf="memberFormSubmitted && memField['type'] === 'text' && formDetails[memField['formFieldName']].errors?.pattern">{{
                    defaultRegex["text"]["message"] }}
                  </div>
                  <div *ngIf="memberFormSubmitted && memField['type'] === 'number' && formDetails[memField['formFieldName']].errors?.pattern">{{
                    defaultRegex["number"]["message"] }}</div>
                  <div *ngIf="memberFormSubmitted && memField['type'] === 'custom' && formDetails[memField['formFieldName']].errors?.pattern">{{
                    memField["name"] + " is invalid" }}</div>
                </div>
              </div>
              <div *ngIf="memField['type'] === 'select'">
                <select class="form-control mem_form_input mem_select" [formControlName]="memField['formFieldName']"
                  [ngClass]="{ 'is-invalid': memberFormSubmitted && formDetails[memField['formFieldName']].errors }">
                  <option [value]="''">{{ memField['required']?'*' + memField['name'] :memField['name']}}</option>
                  <option *ngFor="let selectVal of memField['values'];let j= index;trackBy: trackByIndex" [value]="selectVal['value']">{{selectVal['value']}}</option>
                </select>

                <div *ngIf="memberFormSubmitted && formDetails[memField['formFieldName']].errors" class="alert alert-danger invalid-feedback validator_error_names">
                  <div *ngIf="formDetails[memField['formFieldName']].errors.required">{{ memField['name'] + " is
                    required."
                    }}
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="saveMember($event)" class="btn btn-default"> Save </button>
  </div>
</ng-template>