.tile-bg {
    width: 710px;
}

.tile-bg-body {
    width: 710px;
    height: 520px;
}

.bg-header {
    border-bottom: 1px solid rgb(170, 170, 170);
}

.tile-hide {
    display: none;
}

.bg-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 13px;
}

.main_page_layout {
    width: 670px;
    position: relative;
    float: left;
    color: #000000;
    font-family: 'Roboto'
}

.progressvideo {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.tile_video_list {
    position: relative;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tile_video_upload {
    margin-top: 10px;
    margin-bottom: 10px;
}

.video_upload_btn {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
}

.player {
    width: 135px;
    height: 140px;
    z-index: 1000;
}

.video_divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

#videoSelectable .ui-selected {
    background: #F39814;
    color: white;
}

#videoSelectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 670px;
}

#videoSelectable li {
    margin: 5px;
    padding: 1px;
    float: left;
    width: 150px;
    height: 145px;
    text-align: center;
    cursor: pointer;
}

.abort_btn {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
}

.progress {
    height: 5px;
    margin-bottom: 0;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100px;
    border-radius: 0px;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.remove-videos {
    float: right;
    margin-top: -8px;
    margin-right: -5px;
    color: #cc0101;
}

.image_cancel_btn {
    float: right;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 5px;
}

#VideoImgForm {
    margin-bottom: 0px;
}

.video-img-buttons {
    width: 100%;
    float: left;
}

.file-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    float: left;
}

.file-wrapper input {
    height: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    filter: alpha(opacity=1);
    opacity: 0.01;
    -moz-opacity: 0.01;
    cursor: pointer;
}

.file-wrapper .button {
    border: 1px solid #D3D3D3;
    color: #030303;
    background: #E2E2E2;
    padding: 4px 18px;
    margin-right: 4px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    display: inline-block;
    cursor: pointer;
}

.btn-upload {
    margin-left: 5px;
}

@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}