<div class="modal fade" bsModal #videoLibrary="bs-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}"
  aria-labelledby="menuBackground" aria-hidden="true" (onHide)="onHide($event)">
  <div class="modal-dialog tile-bg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bg-title pull-left">{{ this.pageTitle }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body tile-bg-body">
        <div class="main_page_layout">
          <div class="tile_video_list">
            <ol id="videoSelectable">
              <li *ngFor="let video of videos; let i = index" (dblclick)="videoDoubleClick($event, i,'doubleclick')"
                [style.cursor]="cursor" [ngClass]="selectedVimeoId== video.vimeoId? 'selected' : 'nt-selected'" (click)="selectVideo($event, i, 'click')"
                class="ui-state-default">
                <span class="glyphicon remove-videos glyphicon-remove" (click)="deleteVideo($event, i)"></span>
                <div id="load_video_{{i}}" class="player">
                  <iframe id="player{{i}}" style="float:left;" [src]="getVideoUrl(video.vimeoId, index) | safe" width="135" height="125"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <span class="select-video-text">Select</span></div>
              </li>
            </ol>
          </div>
          <hr class="video_divider">
          <div class="tile_video_upload">
            <div id="videoForm" name="videoForm">
              <div class="file-wrapper">
                <input name="file" #fileVideo (change)="onFileSelected($event.target.files[0])" id="fileupload" type="file">
                <span class="button">Browse files
                </span>
                <span id="videoName">{{videoFileName}}</span>
              </div>
            </div>
            <div style="float: right; margin-left: 5px;" *ngIf="isUploading">
              <button type="button" (click)="cancel()" class="btn btn-warning btn-xs btn-cancel ">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" (click)=upload($event) class="btn btn-success btn-xs btn-upload">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
            </div>
          </div>
          <div *ngIf="isUploading" [class.uploaded]="fileD.uploaded">
            <div  class="progressvideo" *ngIf="fileD.percentage !== null">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar progress-bar-info" role="progressbar" [ngStyle]="{ 'width': fileD.percentage + '%' }"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>