<mat-toolbar style="height:35px;color: #000000; padding: 0 10px;">
  <span>Locations</span>
</mat-toolbar>

<jqxGrid #locationGrid [source]="dataAdapter" [width]="width" [altrows]="true" [height]="height"
  [columns]="columns" [toolbarheight]="35" [pageable]="false" [sortable]="true" [showstatusbar]="false" [showheader]="true"
  [showtoolbar]="true" [rendertoolbar]="renderToolbar" (onRowselect)="onRowSelect($event)" (onRowunselect)="onRowUnselect($event)"
  (onRowdoubleclick)="rowdoubleclick($event)" [selectionmode]="'singlerow'" (onBindingcomplete)="onBindingComplete($event)">
</jqxGrid>

<jqxWindow #locationWindow (onOpen)="addWindowOpen($event)" (onClose)="addWindowClose($event)" [minHeight]="320" [maxHeight]="700"
  [width]="400" [resizable]="false" [isModal]="true" [autoOpen]="false" [modalOpacity]="'0.1'">
  <div>Edit</div>
  <div style="overflow: hidden;height:100%;">
    <form (ngSubmit)="onSubmit()" #locationForm="ngForm">
      <div>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" class="form-control input-sm" required minlength="2" [(ngModel)]="locationObj.name" #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="group">Group</label>
          <input id="group" name="group" class="form-control input-sm" [(ngModel)]="locationObj.group" #group="ngModel">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input id="phone" name="phone" class="form-control input-sm" [(ngModel)]="locationObj.phone" #phone="ngModel">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input id="address" name="address" class="form-control input-sm" [(ngModel)]="locationObj.address" #address="ngModel">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input id="city" name="city" class="form-control input-sm" [(ngModel)]="locationObj.city" #city="ngModel">
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input id="state" name="state" class="form-control input-sm" [(ngModel)]="locationObj.state" #state="ngModel">
        </div>
        <div class="form-group">
          <label for="longitude">Longitude</label>
          <input id="longitude" name="longitude" class="form-control input-sm" [(ngModel)]="locationObj.longitude" #longitude="ngModel">
        </div>
        <div class="form-group">
          <label for="latitude">Longitude</label>
          <input id="latitude" name="latitude" class="form-control input-sm" [(ngModel)]="locationObj.latitude" #latitude="ngModel">
        </div>
        <div class="form-group">
          <label for="radius">Radius</label>
          <input id="radius" name="radius" class="form-control input-sm" [(ngModel)]="locationObj.radius" #radius="ngModel">
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select id="status" name="status" class="form-control input-sm" [(ngModel)]="locationObj.status" #status="ngModel">
            <option *ngFor="let s of statusAdaptor.records" [value]="s.id">{{s.field}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default btn-xs" [disabled]="locationForm.invalid">Submit</button>
        <button type="button" class="btn btn-default btn-xs" (click)="onFormReset()">Reset</button>
      </div>
    </form>
  </div>
</jqxWindow>