<div class="container procedures_container">
  <div class="page_block">
    <div style='margin-left:1px;margin-top: 2px; float:left;'>
      <mat-toolbar style="height:35px; color: #000000; padding: 0 10px;">
        <span>Organizations</span>
      </mat-toolbar>
      <jqxGrid #orgGrid [selectionmode]="'singlerow'" [width]="405" [height]="415" [toolbarheight]="35" [pageable]="false" [sortable]="true"
        [showstatusbar]="false" [showheader]="true" [showtoolbar]="true" [rendertoolbar]="renderToolbar" (onBindingcomplete)="onBindingComplete($event)"
        (rendered)="orgRendered($event)" [altrows]="true" (ready)="ready" (onRowselect)="orgGridOnRowSelect($event)" (onRowdoubleclick)="orgDoubleClick($event)"
        (onRowunselect)="orgGridOnRowUnselect($event)" [source]="dataAdapter" [columns]="columns">
      </jqxGrid>
    </div>
    <div style='margin-top: 2px; float:left;margin-left:2px;'>
      <div *ngIf="isOrgGrid">
        <app-grid [orgId]="orgId" (onSelectApp)="onSelectApp($event)" (endAppLoad)="onEndAppLoad($event)" [orgtype]="type" [width]="620"
          [height]="415"></app-grid>
      </div>
    </div>
    <div style='margin-top: 2px; float:left;margin-left:2px;'>
      <div *ngIf="isEngineGrid">
        <engines-grid [orgId]="orgId" [appIds]="appIds" (onEngineAssignDone)="onEngineAssignDone($event)" [orgtype]="type" [engines]="engines"
          [width]="164" [height]="415"></engines-grid>
      </div>
    </div>
    <div style='margin-left:1px; margin-top: 5px;float:left;'>
      <div *ngIf="isAppGrid">
        <location-grid [orgId]="orgId" (onSelectLocation)="onSelectLocation($event)" [appId]="appId" [orgtype]="type" [width]="650"
          [height]="350"></location-grid>
      </div>
    </div>
    <div style='margin-top: 5px; float:left;margin-left:2px;'>
      <div *ngIf="isAppGrid">
        <integration-grid [orgId]="orgId" [widgetIds]="widgetIds" (onSelectIntegration)="onSelectIntegration($event)" [orgtype]="type" [appId]="appId" [width]="375"
          [height]="350"></integration-grid>
      </div>
    </div>
    <div style='margin-top: 5px; float:left;margin-left:2px;'>
      <div *ngIf="isAppGrid">
        <integrationwidgets-grid [appId]="appId" [integrationId]="integrationId" (onIntegrationWidgetDone)="onIntegrationWidgetDone($event)"
          [widgetIds]="widgetIds" [orgId]="orgId" [orgtype]="type" [width]="164" [height]="350"></integrationwidgets-grid>
      </div>
    </div>
    <div style='margin-left: 1px; margin-top:5px;float:left;'>
      <div *ngIf="isAppGrid">
        <stream-grid [orgId]="orgId" [orgtype]="type" [width]="620" [height]="350"></stream-grid>
      </div>
    </div>
    <div style='margin-top:5px; float:left;margin-left:2px;'>
      <div *ngIf="isAppGrid">
        <language-grid [orgId]="orgId" [orgtype]="type" [width]="620" [height]="350"></language-grid>
      </div>
    </div>
  </div>
</div>

<jqxWindow #addOrg (onOpen)="addOpen($event)" (onClose)="addClose($event)" [minHeight]="320" [maxHeight]="400" [width]="400"
  [resizable]="false" [isModal]="true" [autoOpen]="false" [modalOpacity]="'0.1'">
  <div>Edit</div>
  <div style="overflow: hidden;height:100%;">
    <form (ngSubmit)="onSubmit()" #orgForm="ngForm">
      <div>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" class="form-control input-sm" required minlength="2" [(ngModel)]="org.name" #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <select id="type" name="type" class="form-control input-sm" [(ngModel)]="org.type_id" #type_id="ngModel">
            <option *ngFor="let t of organizationTypes" [value]="t._id">{{t.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="package">Package</label>
          <select id="package" name="package" class="form-control input-sm" [(ngModel)]="org.packageId" #packageId="ngModel">
            <option *ngFor="let p of packages" [value]="p._id">{{p.name}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default btn-xs" [disabled]="orgForm.invalid">Submit</button>
        <button type="button" class="btn btn-default btn-xs" (click)="onFormReset()">Reset</button>
      </div>
    </form>
  </div>
</jqxWindow>