.jqx-rc-all {
    border-radius: 0px;
}

.jqx-widget-content {
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: 11px;
}

.jqx-expander-header, .jqx-expander-content-bottom {
    border-bottom-width: 0px;
}

.jqx-expander-header, .jqx-expander-content-top {
    border-top-width: 0px;
}

.jqx-window-header {
    padding: 10px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    background: #e8e8e8;
    padding: 0 10px;
    color: #000000;
    font-size: 13px;
}

.alert {
    padding: 5px;
    margin-bottom: 0px;
}

.org-field-group {
    margin-bottom: 5px;
}